.feature-wrap
  .feature
    .left
      %a.pirobox{:href => image_path('tour/big/control.png'), :rel => "single", :title => "Управление проектами"}
        =image_tag 'tour/1/control.png'
    .right
      %a{:href => tour_inside_path('projects')}
        %h1 Управление проектами
      %p
        Каждый git-репозиторий на ABF поставляется с инструментами,
        необходимыми для управления проектами, вне зависимости от
        того, публичный или приватный проект.
        %br/
        =link_to 'Читать далее...', tour_inside_path('projects')
    .both
.feature-wrap
  .feature
    .left
      %a{:href => tour_inside_path('sources')}
        %h1 Исходный 	код
      %p
        ABF — полноценный git-хостинг с удобным веб-интерфейсом.
        %br/
        =link_to 'Читать далее...', tour_inside_path('sources')
    .right
      %a.pirobox{:href => image_path('tour/big/source.png'), :rel => "single", :title => "Исходный код"}
        =image_tag 'tour/2/source.png'
    .both
.feature-wrap
  .feature
    .left
      %a.pirobox{:href => image_path('tour/big/monitoring.png'), :rel => "single", :title => "Сборка пакетов"}
        =image_tag 'tour/3/monitoring.png'
    .right
      %a{:href => tour_inside_path('builds')}
        %h1 Сборка пакетов
      %p
        ABF — это не только хостинг исходного кода, но и система сборки
        и хостинга пакетов. Собирайте свои проекты под множество
        дистрибутивов и архитектур в свой персональный репозиторий.
        %br/
        =link_to 'Читать далее...', tour_inside_path('builds')
    .both
