.sub-menu.tour
  %nav
    %ul
      %li
        =link_to 'Управление проектами', tour_inside_path('projects')
      %li
        =link_to 'Исходный код', tour_inside_path('sources')
      %li
        =link_to 'Сборка проектов', tour_inside_path('builds'), :class => 'active'
.both
/ Page
%article
  / Single page content
  .feature-wrap
    .feature
      .left
        %a.pirobox{:href => image_path('tour/big/repo.png'), :rel => "single", :title => "Персональный репозиторий"}
          =image_tag 'tour/3/repo.png'
      .right
        %h1 Персональный репозиторий
        %p
          Персональный репозиторий — быстрый и легкий способ
          распространить свое ПО множеству Linux пользователей
          различных дистрибутивов, используя стандартный механизм
          доставки ПО. ABF позаботится о зависимостях ПО из основных
          репозиториев и/или дополнительных персональных репозиториев.
          Опубликовали новую версию? Пользователи автоматически
          получат оповещение о доступности обновления.
      .both
  .feature-wrap
    .feature
      .left
        %h1 Сборка пакета
        %p
          ABF позволяет собрать ваши проекты под множество архитектур
          и дистрибутивов, используя свои вычислительные мощности.
          Никаких затрат с вашей стороны!
      .right
        %a.pirobox{:href => image_path('tour/big/build.png'), :rel => "single", :title => "Сборка пакета"}
          =image_tag 'tour/3/build.png'
      .both
  .feature-wrap
    .feature
      .left
        %a.pirobox{:href => image_path('tour/big/monitoring.png'), :rel => "single", :title => "Мониторинг"}
          =image_tag 'tour/3/monitoring.png'
      .right
        %h1 Мониторинг
        %p
          В большом числе сборочных заданий легко потеряться, поэтому
          мониторинг сборки фокусирует ваше внимание только на том,
          что действительно важно.
      .both
