.sub-menu.tour
  %nav
    %ul
      %li
        =link_to 'Управление проектами', tour_inside_path('1_1')
      %li
        =link_to 'Исходный код', tour_inside_path('1_2'), :class => 'active'
      %li
        =link_to 'Сборка проектов', tour_inside_path('1_3')
.both
/ Page
%article
  / Single page content
  .feature-wrap
    .feature
      .left
        =image_tag('tour/2/code.png', :alt => 'Исходный код онлайн')
      .right
        %h1 Исходный код онлайн
        %p
          Мы сфокусировались на том, чтобы сделать исходный код
          доступным и прозрачным. Все, что вы выложите в git-репозиторий,
          мгновенно станет доступным для просмотра в режиме онлайн,
          чтобы вы могли поделиться им с людьми, даже если они не
          используют Git. На главной странице каждого проекта есть список
          файлов проекта, а также информация о последнем изменении.
          Вы можете сразу увидеть самое важное в вашем проекте: код.
      .both
  .feature-wrap
    .feature
      .left
        %h1 История файла
        %p
          Каждый файл в git-репозитории имеет историю, которую вы
          легко можете посмотреть: кто, когда и что в нем поменял.
      .right
        =image_tag('tour/2/history.png', :alt => 'История файла')
      .both
  .feature-wrap
    .feature
      .left
        =image_tag('tour/2/annotation.png', :alt => 'Аннотация файла')
      .right
        %h1 Аннотация файла
        %p
          Ищете автора фрагмента кода? Откройте аннотацию файла
          (Blame), чтобы увидеть: кто и в каком коммите последний
          изменял данный фрагмент.
      .both
  .feature-wrap
    .feature
      .left
        %h1 Редактирования онлайн
        %p
          Вам нужно быстро внести изменение в файл? Исправить
          орфографические ошибки на вашем мобильном телефоне?
          Мы предлагаем простой редактор для каждого файла в
          git-репозитории.
      .right
        =image_tag('tour/2/edit.png', :alt => 'Редактирования онлайн')
      .both