.sub-menu.tour
  %nav
    %ul
      %li
        =link_to 'Управление проектами', tour_inside_path('1_1')
      %li
        =link_to 'Исходный код', tour_inside_path('1_2')
      %li
        =link_to 'Сборка проектов', tour_inside_path('1_3'), :class => 'active'
.both
/ Page
%article
  / Single page content
  .feature-wrap
    .feature
      .left
        =image_tag "tour/3/repo.png", :alt => "Персональный репозиторий"
      .right
        %h1 Персональный репозиторий
        %p
          Персональный репозиторий — быстрый и легкий способ
          распространить свое ПО множеству Linux пользователей
          различных дистрибутивов, используя стандартный механизм
          доставки ПО. ABF позаботится о зависимостях ПО из основных
          репозиториев и/или дополнительных персональных репозиториев.
          Опубликовали новую версию? Пользователи автоматически
          получат оповещение о доступности обновления.
      .both
  .feature-wrap
    .feature
      .left
        %h1 Сборка пакета
        %p
          ABF позволяет собрать ваши проекты под множество архитектур
          и дистрибутивов, используя свои вычислительные мощности.
          Никаких затрат с вашей стороны!
      .right
        =image_tag "tour/3/build.png", :alt => "Сборка пакета"
      .both
  .feature-wrap
    .feature
      .left
        =image_tag "tour/3/monitoring.png", :alt => "Мониторинг"
      .right
        %h1 Мониторинг
        %p
          В большом числе сборочных заданий легко потеряться, поэтому
          мониторинг сборки фокусирует ваше внимание только на том,
          что действительно важно.
      .both
