/ Submenu
.sub-menu.tour
  %nav
    %ul
      %li
        =link_to 'Управление проектами', tour_inside_path('projects'), :class => 'active'
      %li
        =link_to 'Исходный код', tour_inside_path('sources')
      %li
        =link_to 'Сборка проектов', tour_inside_path('builds')
.both
/ Page
%article
  / Single page content
  .feature-wrap
    .feature
      .left
        %a.pirobox{:href => image_path('tour/big/control.png'), :rel => "single", :title => "Управление проектами"}
          =image_tag 'tour/1/control.png'
      .right
        %h1 Управление проектами
        %p
          Существует 3 возможных роли для участника проекта: только
          чтение, чтение/запись и административный уровень. Участником
          проекта может выступать как пользователь, так и группа. Проект,
          как и группа, может иметь неограниченное число участников
          (пользователей, групп или всех вместе).
      .both
  .feature-wrap
    .feature
      .left
        %h1 Git Wiki
        %p
          Вики проекта создана с помощью Gollum — открытого
          вики-движка, созданного GitHub. В основе своей это полноценный
          git-репозиторий, который можно клонировать, использовать в
          режиме офлайн, изменять и загружать изменения обратно на
          сервер, как в случае с обычным кодом. Удобный веб-редактор
          позволит работать с ней в онлайн. Теперь данные о проекте не
          пропадут и доступны для редактирования в любимом редакторе!
          %br/
          %br/
          Примечание: для приватного проекта вики доступна только его
          участникам. Для публичного — всем для чтения.
      .right
        %a.pirobox{:href => image_path('tour/big/git.png'), :rel => "single", :title => "Git Wiki"}
          =image_tag 'tour/1/git.png'
      .both
  .feature-wrap
    .feature
      .left
        %a.pirobox{:href => image_path('tour/big/tracker.png'), :rel => "single", :title => "Легкий трекер задач"}
          =image_tag 'tour/1/tracker.png'
      .right
        %h1 Легкий трекер задач
        %p
          Каждый проект также может использовать легкий и простой
          трекер задач. Метки и назначения позволят не потеряться среди
          задач, а понятный интерфейс позволит сконцентрироваться на
          работе, а не на заполнении огромных формуляров.
      .both
