- platform.repositories.each do |repo|
  .both
    = check_box_tag "build_list[include_repos][]", repo.id, repo.name == 'main' || @project.repositories.map(&:id).include?(repo.id), :id => "include_repos_#{repo.id}", :pl_id => platform.id  # (params[:build_list]||[]).fetch(:include_repos, []).include?(repo.id.to_s)
    = label_tag "include_repos_#{repo.id}", repo.name
