.block
  - if controller.action_name != 'all'
    .secondary-navigation
      %ul.wat-cf
        %li.first= link_to t("layout.build_lists.current"), platform_repository_project_path(@platform, @repository, @project) + "#build_lists"
        %li.active= link_to t("layout.build_lists.all"), platform_repository_project_build_lists_path(@platform, @repository, @project)

  .content

    .inner
      = render :partial => "build_lists/filter", :action_url => @action_url

    .inner
      = render :partial => "build_lists/build_lists", :object => @build_lists

- content_for :sidebar, render(:partial => 'sidebar') if controller.action_name != 'all'