- set_meta_tags title: "#{title_object @project} #{t('at') if @branch} #{@branch.try :name}"
- set_meta_tags og: { title:       title_object(@project),
                      description: truncate(@project.description, length: 255) }

== render partial: "show", layout: 'layout'
