- title = title_object(@project)
- set_meta_tags title: title
- set_meta_tags og:      { title:       title,
                           description: truncate(@project.description, length: 255) }
- set_meta_tags twitter: { title:       title,
                           description: truncate(@project.description, length: 200) }

== render partial: "tags", layout: 'layout'
