:markdown

  1.  `server` - IRC сервер, например irc.freenode.net
  2.  `port` - Стандартный 6667 (без SSL) или 9999 (SSL) (опционально). Это значения по умолчанию в зависимости от значения `ssl` чекбокса.
  3.  `room` - Поддержка одной или нескольких комнат (через запятую). Также поддерживается пароль к комнате (room_name::password).  Префикс '#' у комнаты опционально.
  4.  `password` - пароль к серверу (опционально)
  5.  `nick` - никнейм (опционально)
  6.  `long_url` - Если включено, показывает полные compare/commit url's. Если отключено, использует git.io.
  7.  `message_without_join` - Если включено, предварительно заходит на канал и немедленно покидает его.
  8. `no_colors` - Отключает поддержку цветов для сообщений
  9. `notice` - Включает поддержку уведомлений. Убедитесь, что ваш канал поддерживает уведомления ("/mode #yourchannelname -n" или "/msg chanserv set mlock -n")
  10. `branch_regexes` - Регулярное выражение для фильтрации по имении ветки (опционально, через запятую). Например, только master => `^master$`, master & начинающиеся на bug => `master,^bug`.
  11. Сконфигурируйте ваш IRC канал на поддержку внешних сообщений (/mode #yourchannelname -n).

  Для freenode, подходит следующее:

      # server: irc.freenode.net
      # port: 6667
      # room: #yourroom
      # message_without_join: checked
      # long_url: checked
      # notice: checked
      # ЗАМЕЧАНИЕ: Убедитесь, что поддержка уведомлений включена (см. выше)
