:markdown

  1. **User** это Jabber ID (например: myusername@jabber.org). Несколько пользователей могут быть добавленны через запятую (максимум 25 пользователей).
  2. Вы должны добавить `abf-notification@rosalab.ru` пользователя в ваш список контактов.