*~
.bundle
.rvmrc
.DS_Store
db/*.sqlite3
log/*.log
tmp/
config/database.yml
.idea
config/application.yml
public/assets/*
config/initializers/local.rb
public/system/*
public/downloads/*
*.swp
*.tmproj
.sass-cache/
dump.rdb
crash.log
config/newrelic.yml
config/deploy/*.rb
config/deploy.rb
.swo
.swn
.ruby-gemset
.ruby-version