%table.table
  %tr
    %th.first= t("activerecord.attributes.repository.name")
    %th.last &nbsp;
  - @repositories.each do |repository|
    %tr{:class => cycle("odd", "even")}
      %td
        = link_to repository.name, repository_path(repository)
      %td.last
        #{link_to t("layout.show"), repository_path(repository)} | #{link_to t("layout.delete"), repository_path(repository), :method => :delete, :confirm => t("layout.repositories.confirm_delete")}
