%table.table
  %tr
    %th.first= t("activerecord.attributes.project.name")
    %th.last &nbsp;
  - @projects.each do |project|
    %tr{:class => cycle("odd", "even")}
      %td
        = link_to project.name, project_path(project)
      %td.last
        #{link_to t("layout.show"), project_path(project)} | #{link_to t("layout.delete"), url_for (:action => :remove_project, :project_id => project.id), :confirm => t("layout.projects.confirm_delete")}
