%hr
  %p{style: "font-size:small;color:#666"}
    = t("notifications.footers.notifiers")
    = link_to t("notifications.footers.notification_center"), notifiers_settings_url
  %p{style: "font-size:small;color:#666"}
    = t("notifications.footers.support_team")

