%p== Hello, #{@register_request.name || @register_request.email}.

%p
  You have been invited to project ABF. Please click on the following
  = link_to 'link for registration', new_user_registration_url(invitation_token: @register_request.token)

%p== Support team «ROSA ABF»
