%p== Здравствуйте, #{@register_request.name || @register_request.email}.

%p
  Вы приглашены в проект ABF. Пожалуйста, перейдите по
  = link_to 'ссылке для регистрации', new_user_registration_url(invitation_token: @register_request.token)

%p== Команда поддержки «ROSA ABF»
