%p== Здравствуйте, #{@user.name}.


%p К проекту #{ link_to @issue.project.name, project_path(@issue.project) } была добавлена задача #{ link_to @issue.title, show_issue_path(@issue.project, @issue.serial_id) }


%p== Команда поддержки «ROSA Build System»
