%p== Здравствуйте, #{@user.user_appeal}.


%p Вы зарегистрированы на проекте «ROSA Build System» и теперь можете войти в систему. 


%p
  ==Ваш email : #{@user.email}

%p== Команда поддержки «ROSA Build System»
