%p== Hello, #{@user.name}.

- #TODO hmm... this need to be refactored.
%p Your comment into issue #{ link_to @comment.commentable.title, project_issue_url(@comment.commentable.project, @comment.commentable) } has been answered.

%p "#{ @comment.body }"


%p== Support team «ROSA Build System»
