%p== Здравствуйте, #{@user.name}.


%p К задаче #{ link_to @comment.commentable.title, show_issue_path(@comment.commentable.project, @comment.commentable.serial_id) } был добавлен новый комментарий.


%p== Команда поддержки «ROSA Build System»
