.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.issues.list"), @commentable_path
  .content
    %h2.title
      = t("layout.issues.edit_header")
    .inner
      = form_for @comment, :url => @update_url, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
