%i.img-circle.bg-primary.fa.fa-sign-in
.timeline-item{ 'ng-cloak' => true }
  %h3.timeline-header
    %a{ 'ng-href' => "{{item.user.link}}" }
      %img{ 'ng-src' => "{{item.user.image}}" }
      {{item.user.uname}}
    %span.time{ popover: "{{item.date | amDateFormat:'ddd, LLL'}}",
                "popover-trigger" => "mouseenter", 'popover-append-to-body' => 'true' }
      %span.glyphicon.glyphicon-time
      %span {{item.date | amDateFormat:'HH:mm'}}
    .clearfix
  .timeline-body
    %p
      {{'notification.push.' + item.change_type + '_branch' | i18n}}
      {{ item.branch_name + ('notification.in_project' | i18n)}}
      %a{ 'ng-href' => "{{item.project_link}}" } {{item.project_name_with_owner}}

  .timeline-footer
    .row
      .container-fluid{ 'ng-repeat' => 'commit in item.last_commits' }
        .col-sm-3.col-md-2
          %a{ 'ng-href' => "{{commit.link}}" } {{commit.hash}}
        .col-sm-8.col-md-9{ 'ng-bind-html' => "commit.message" }
        .clearfix

    %br{ 'ng-if' => "item.other_commits" }
    %a{ 'ng-if' => "item.other_commits", 'ng-href' => "{{item.other_commits_path}}" } {{item.other_commits}}
