%tr{:class => cycle("odd", "even")}
  %td= product_build_list.id
  %td= product_build_list.human_status
  %td= link_to nil, product_build_list.container_path
  %td= l(product_build_list.notified_at, :format => :long)
