- (@labels || []).each_with_index do |label, index|
  .add_label.label.selected{:id => "flag#{index}"}
    .labeltext.selected{:style => "background: ##{label.color};"}=label.name
    =hidden_field_tag "label-#{index}", label.id, :name => "issue[labelings_attributes][#{index}][label_id]"
    .both
