#closed_issue_text
  - if @issue.status == 'closed' && @issue.closed_at && @issue.closed_by
    #closed-comment.comment-closed{:style => 'display: block;'}
      .state=t('layout.issues.status.closed')
      .text
        .avatar=image_tag(avatar_url(@issue.closer, :small), :alt => 'avatar')
        .name="#{@issue.closer.uname} (#{@issue.closer.name}) #{t('layout.issues.at')} #{@issue.closed_at.to_s(:long)}"
    .both
    %br/
