-render :partial => 'projects/submenu'
-render :partial => 'issues/create_sidebar'
-content_for :right_nopadding do
  dummy
%h3=@issue.title
.activity
  .top
    .image
      =image_tag(@issue.creator.avatar(42), :alt => 'avatar') if @issue.creator
    .text
      %span.name=link_to(@issue.creator.uname, user_path(@issue.creator)) if @issue.creator
      %br/
      %span.date=@issue.created_at.to_s(:long)
      %br/
  .both
  .fulltext.view=@issue.body
.both
.hr

=render :partial => 'issues/status'
