-comment = item[1].first
.file
  .top
    .l=comment.data[:view_path]
    .r=link_to t("layout.pull_requests.view_full_changes"),
      "#{project_commentable_path(@project, @commentable)}##{comment_anchor(comment)}",
      :class => 'link_to_full_changes'
    .clear
  .diff_data=render_diff(comment.inline_diff(@repo), 0, item[1], comment.data[:path])

