-content_for :sidebar do
  - if current_user
    =form_tag project_pull_requests_path(@project), :id => 'filter_issues', :method => :get do
      .bordered.nopadding
        %h3=t("layout.issues.accessory")
        %table
          %tr
            %td.width18=radio_button_tag :myradio, 'all', !@is_assigned_to_me, {:id => 'myradio1', :class => 'niceRadio', :name => 'filter'}
            %td.width135=t("layout.issues.all")
            %td.width30.right=@project.pull_requests.count
          %tr
            %td=radio_button_tag :myradio, 'to_me', @is_assigned_to_me, {:id => 'myradio1', :class => 'niceRadio', :name => 'filter'}
            %td=t("layout.issues.to_me")
            %td.width30.right=@project.issues.joins(:pull_request).where(:assignee_id => current_user.id).count
      .bordered.bpadding20
        =tracker_search_field(:search_issue, t('layout.issues.search'))
