%i.img-circle.btn-danger.fa.fa-times
.timeline-item{ 'ng-cloak' => true }
  %h3.timeline-header
    %a{ 'ng-href' => "{{item.user.link}}" }
      %img{ 'ng-src' => "{{item.user.image}}" }
      {{item.user.uname}}
    %span.time{ popover: "{{item.date | amDateFormat:'ddd, LLL'}}",
                "popover-trigger" => "mouseenter", 'popover-append-to-body' => 'true' }
      %span.glyphicon.glyphicon-time
      %span {{item.date | amDateFormat:'HH:mm'}}
    .clearfix
  .timeline-body
    %p
      {{'notification.push.delete_branch' | i18n}}
      {{ item.branch_name + ('notification.in_project' | i18n)}}
      %a{ 'ng-href' => "{{item.project_link}}" } {{item.project_name_with_owner}}
