%i.img-circle.btn-warning.fa.fa-comment
.timeline-item{ 'ng-cloak' => true }
  %h3.timeline-header
    %a{ 'ng-href' => "{{item.user.link}}" }
      %img{ 'ng-src' => "{{item.user.image}}" }
      {{item.user.uname}}
    %span.time{ popover: "{{item.date | amDateFormat:'ddd, LLL'}}",
                "popover-trigger" => "mouseenter", 'popover-append-to-body' => 'true' }
      %span.glyphicon.glyphicon-time
      %span {{item.date | amDateFormat:'HH:mm'}}
    .clearfix
  .timeline-body
    %p
      {{'notification.new_commit_comment.title' | i18n}}

    .row
      .col-sm-3.col-md-2
        %a{ 'ng-href' => "{{item.commit.link}}" } {{item.commit.hash}}
      .col-sm-8.col-md-9{ 'ng-bind-html' => "item.commit.message" }
      .clearfix

    %blockquote{ 'ng-bind-html' => "item.body" }

  .timeline-footer
    %a.btn.btn-primary.btn-xs{ 'ng-href' => "{{item.commit.link + '#comment' + item.commit.read_more}}" }
      {{'read_more' | i18n}}
