%i.img-circle.btn-success.fa.fa-user
.timeline-item{ 'ng-cloak' => true }
  %h3.timeline-header
    %span.time{ popover: "{{item.date | amDateFormat:'ddd, LLL'}}",
                "popover-trigger" => "mouseenter", 'popover-append-to-body' => 'true' }
      %span.glyphicon.glyphicon-time
      %span {{item.date | amDateFormat:'HH:mm'}}
    .clearfix
  .timeline-body
    %p
      {{('notification.new_user.title' | i18n) + item.user_name}}
    %p
      {{'notification.new_user.content' | i18n}}
