%i.img-circle.btn-warning.fa.fa-comment
.timeline-item{ 'ng-cloak' => true }
  %h3.timeline-header
    %a{ 'ng-href' => "{{item.user.link}}" }
      %img{ 'ng-src' => "{{item.user.image}}" }
      {{item.user.uname}}
    %span.time{ popover: "{{item.date | amDateFormat:'ddd, LLL'}}",
                "popover-trigger" => "mouseenter", 'popover-append-to-body' => 'true' }
      %span.glyphicon.glyphicon-time
      %span {{item.date | amDateFormat:'HH:mm'}}
    .clearfix
  .timeline-body
    %p
      %span{'ng-show' => 'item.issue.is_pull'} {{'notification.new_pull_comment.title' | i18n}}
      %span{'ng-show' => '!item.issue.is_pull'} {{'notification.new_comment.title' | i18n}}
      %a{ 'ng-href' => "{{item.issue.link}}" } {{item.issue.title}}

    %blockquote{ 'ng-bind-html' => "item.body" }

  .timeline-footer
    %a.btn.btn-primary.btn-xs{ 'ng-href' => "{{item.issue.link + '#comment' + item.issue.read_more}}" }
      {{'read_more' | i18n}}
