@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {}

#container {}

header {
  display:block;
  background: #ccf;
  height:3em;
  #logout {
    float:right;
  }
}

#main {
  #login_form {
    margin: 0 auto;
    width:250px;
    padding:2em;
  }
}

footer {}

.row {
	margin: 10px;
}

.commit_row {
	margin-bottom: 20px;
}

.commit_row .author {
	font-weight: bold;
}

table tr .line_numbers {
 text-align: right;
 vertical-align: top;
 background: #eee;
 color: #777;
 font-size: 92%;
 padding: 0 3px 0 2px;
 width: 35px;
 border-right: 1px solid #ccc;
 border-bottom: 1px solid #cdcdcd;
}

table tr td.code {
 width: 95%;
 padding-left: 10px;
 /*white-space: pre;*/
 white-space: pre-wrap;       /* CSS-3                  */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999    */
 white-space: -pre-wrap;      /* Opera 4-6              */
 white-space: -o-pre-wrap;    /* Opera 7                */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 background: #fff;
 font: 95%/110% "Bitstream Vera Sans Mono", Monaco, monospace;
 border-right: 1px solid #ccc;
}

table tr td.code pre {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

table tr td.unwrapped {
 white-space: pre;
}

table tr td.softwrapped {
  white-space: pre-wrap;       /* CSS-3                  */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999    */
  white-space: -pre-wrap;      /* Opera 4-6              */
  white-space: -o-pre-wrap;    /* Opera 7                */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table.sidebyside tr td.code {
  padding: 2px;
}

table.diff {
  border: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;
  font: 95%/105% "Bitstream Vera Sans Mono", Monaco, monospace;
}
table.diff tr td {
  padding: 0;
}
table.diff .line_num_cut {
  background: #ccc;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

table.diff thead .line_numbers, table.diff thead { background: #ddd; }
table.diff td.code { padding-left: 2px; }
table.diff .cut-line {
  background: #eee;
  border-top: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
}
table.diff td.hidden del { display:none; }
table.diff td.del { background: #ffdddd; }
table.diff td.del span.idiff { background: #F2ACAD; }
table.diff td.ins { background: #ddffdd; }
table.diff td.ins span.idiff { background: #BAFBAD; }
/*table.sidebyside tbody.mod td ins span.idiff,
  table.sidebyside tbody.mod td del span.idiff { background: #fd4; }*/
table.diff td.del del { text-decoration: none; }
table.diff td.ins ins { text-decoration: none; }
table.diff col.lines {
  width: 3em;
}

ul.diff_stats {
	list-style: none;
}

table.blame {
	border: 1px solid #ccc;
	width: 100%;
	border-collapse: collapse;
	font: 95%/105% "Bitstream Vera Sans Mono", Monaco, monospace;
}

table.blame tr td {
	padding: 0;
	vertical-align: top;
}

table.blame thead .line_numbers, table.blame thead { background: #ddd; }
table.balme td.code { padding-left: 2px; }