- if can? :write, @project
  .r{:style => "display: block"}=link_to t("project_menu.pull_request"), '#', :class => 'button', :id => 'send_pull_request'
  =form_for PullRequest.new, :url => new_project_pull_requests_path, :html => { :method => :post, :class => :form } do |f|
    =hidden_field_tag :treeish, @treeish
  :javascript
    $(function () {
      $('#send_pull_request').click(function(){
        $('#new_pull_request').submit();
        return false;
      });
    });

- if can? :fork, @project
  .r#fork-and-edit= link_to t('layout.projects.fork_and_edit'), '#forkModal', :class => 'button', 'data-toggle' => 'modal'
  #forkModal.modal{:style => 'display: none;'}
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3=t 'layout.projects.fork_modal_header'
    .modal-footer=render 'choose_fork', :owner => current_user
    - Group.can_own_project(current_user).each do |group|
      .modal-footer=render 'choose_fork', :owner => group
- if can? :create, @project.build_lists.new
  .r{:style => "display: block"}= link_to t('layout.projects.new_build_list'), new_project_build_list_path(@project), :class => 'button'
