%ol.breadcrumb
  %li= link_to @project.name, tree_path(@project, treeish: @treeish), 'ng-click' => "getTree($event)"
  %li{ 'ng-repeat' => 'path in tree_breadcrumb.elements' }
    %a{ 'ng-href' => '{{path.url}}', 'ng-click' => 'getTree($event, path.path)' } {{path.name}}
  %li.active {{path.last}}
