= raw repository_projects_datatable(@repository)

#datatable-additional-filter.dataTables_filter
  %label
    %input{ type: "text", 'aria-controls' => 'datatable', placeholder: t('layout.projects.placeholder.owner_name') }

%table#datatable.tablesorter.repo-projects{cellspacing: 0, cellpadding: 0}
  %thead
    %tr
      %th.th1= t("activerecord.attributes.project.name")
      %th.th2= t("activerecord.attributes.project.description")
      %th.buttons &nbsp;
  %tbody
%br

:javascript

  $(function() {
    $('#datatable_filter').after($('#datatable-additional-filter'));
    $('#datatable-additional-filter input').on('keyup', function() {
      $('#datatable').dataTable().fnDraw();
    });
  });

  function dataTableAdditionalFilter() {
    return {
      'name':   'owner_name',
      'value':  $('#datatable-additional-filter input').val()
    };
  }
