.block
  .content
    %h2.title= title t("layout.users.edit_header")
    .inner
      = form_for @user, url: admin_user_path(@user), html: {class: :form} do |f|
        = render "users/base/form", f: f

- content_for :sidebar do
  .bordered.nopadding
= render 'submenu'
