%h3.fix.bpadding10= @user.uname

= form_for @user, :url => user_path(@user), :html => { :class => :form } do |f|
  = render :partial => "form", :locals => {:f => f}

.notify
  %p= t('layout.users.public_data_edit_warning')

:javascript
  $('article .right').addClass('middlepadding');

-#.block
-#  .secondary-navigation
-#    %ul.wat-cf
-#      %li.first= link_to t("layout.users.list"), users_path
-#      %li= link_to t("layout.users.new"), new_user_path
-#      %li.active= link_to t("layout.users.edit"), edit_user_path
-#  .content
-#    %h2.title= t("layout.users.edit_header")
-#    .inner
-#      = form_for @user, :url => user_path(@user), :html => { :class => :form } do |f|
-#        = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render('sidebar')
