-set_meta_tags title: [title_object(@project), t('wiki.git_access')]
/ = render 'gollum_includes'
/ = render 'project_short'
= render 'submenu'

.desription-top
  .img= image_tag("code.png")
  = render "git_access"
  .both
= render "git_access_message"

.both

- content_for :sidebar do
  - render 'sidebar'
