-set_meta_tags title: [title_object(@project), t('wiki.wiki_history')]

= render 'submenu'

.r= link_to t("wiki.compare_revisions"), "javascript:void(0);", class: "action-compare-revision button width100"
.both
= render 'history'
.both

- content_for :sidebar do
  - render 'sidebar'
