- content_for :submenu do
  - act = action_name.to_sym; contr = controller_name.to_sym
  .left
    = @advisory.advisory_id if @advisory.present?
  %nav
    %ul
      %li= link_to t('layout.list'), advisories_path, class: act.in?([:index]) ? 'active' : nil
