%table.table.table-striped
  %thead
    %tr
      %th= t 'activerecord.attributes.platform.name'
      %th= t 'activerecord.attributes.platform.distrib_type'
  %tbody
    - @platforms.each do |platform|
      %tr
        %td= link_to platform_printed_name(platform), platform_path(platform)
        %td= platform.distrib_type
