- set_meta_tags title: [title_object(@platform), t('layout.advisories.list_header')]
= render 'submenu'

.container
  .row
    = render partial: 'advisories', object: @advisories
    = will_paginate @advisories
