%pagination{ 'boundary-links' => 'true',
             'total-items' => total_items,
             'page' => page,
             'previous-text' => "‹", 'next-text' => "›",
             'first-text' => "«", "last-text" => "»",
             'items-per-page' => per_page,
             'max-size' => 5,
             'rotate' => 'false',
             'ng-show' => ng_show,
             'on-select-page' => select_page }
