= form_tag '#', :method => :get do#platform_repository_path(@platform, @repository), :method => :get do
  .group
    = label_tag :query, t("layout.search_by_name"), :class => :label
    = text_field_tag :query
    %button.search{:type => "submit"}
      = t("layout.search")
