.row
  - item.data[:last_commits].each do |commit|
    .col-sm-3.col-md-2= link_to shortest_hash_id(commit[0]), commit_path(project_name_with_owner, commit[0])
    .col-sm-8.col-md-9= truncate(commit[1], length: 70, omission: '…')
    .clearfix
-#%br
- if item.data[:other_commits].present?
  %br
  =link_to t('notifications.bodies.more_commits', count: item.data[:other_commits_count],
              commits: commits_pluralize(item.data[:other_commits_count])),
           diff_path(project_name_with_owner, diff: item.data[:other_commits])
