-set_meta_tags title: nil
.voffset20
.container
  /   =#render 'feed_tabs'
  / =render 'list'

  / - content_for :sidebar, render('sidebar')
  / - render 'top_menu'

  %div{ 'ng-controller' => 'ActivityCtrl', 'cg-busy' => "'activity'" }
    %tabset.offset20
      = render 'activity_tab'
      = render 'tracker_and_pulls_tabs'
