%p
  Your wiki data can be cloned from a git repository for offline access. You have several options for editing it at this point:
  %br
  %ol
    %li With your favorite text editor or IDE.
    %li
      With the built-in web interface, included with the
      = link_to 'Gollum', "https://github.com/github/gollum"
      Ruby API.
    %li With the Gollum Ruby API.
  When you're done, you can simply push your changes back to our system to see them reflected on the site. The wiki repositories obey the same access rules as the source repository that they belong to.