%p
  Все данные вашей Wiki могут быть клонированы из Git-репозитория для доступа без интернета. В этом случае вы можете редактировать страницы следующими способами:
  %br
  %ol
    %li Вашим любимым текстовым редактором или IDE.
    %li
      С помощью встроенного Web-интерфейса, включенного в 
      = link_to 'Gollum', "https://github.com/github/gollum"
      Ruby API.
    %li С помощью Gollum Ruby API.
  Когда изменения будут завершены, просто запуште их обратно в нашу систему чтобы увидеть их на сайте. Доступ к репозиторию Wiki осуществляется с теми же правами, что и к проекту, с которым она связана.