#gollum-searchbar
  = form_tag search_project_wiki_index_path(@project), :method => :get, :id => "gollum-search-form" do
    #gollum-searchbar-fauxtext
      = text_field_tag :q, t("layout.wiki.search_and_hellip"), :id => "search-query", :autocomplete => "on"
      = link_to "#", :id => "search-submit", :title => t("layout.wiki.search_popup") do
        %span= t("layout.wiki.search")
