=# render :partial => 'gollum_includes'
=# render :partial => 'project_short'
= render :partial => 'projects/submenu'


.desription-top
  .img
    = image_tag("code.png")
  = render :partial => "git_access"
  .both
= render :partial => "git_access_message"

.both

-#.content
-#  #wiki-wrapper.inner.compare
-#    #head
-#      %h1.title
-#        = t("layout.wiki.wiki_git_access")
-#
-#    #wiki-content
-#      = render :partial => "git_access"
-#      %br
-#      = render :partial => "git_access_message"

- content_for :sidebar do
  - render :partial => 'sidebar'


