.block
  .content
    .inner

      %a{ :name => h(commit_diff.a_path.force_encoding(Encoding.default_internal || Encoding::UTF_8)) }

      .blob_header
        .size= h(commit_diff.a_path.force_encoding(Encoding.default_internal || Encoding::UTF_8))
        - if commit_diff.b_path.present?
          .buttons
            = link_to("view file @ #{short_hash_id(@commit.id)}", blob_commit_path(@project, @commit.id, commit_diff.b_path.force_encoding(Encoding.default_internal || Encoding::UTF_8)))
        .clear

      .diff_data
        = render_diff(commit_diff)
