- if @page == 1
  %span.prev_page.disabled « Previous
- else
  %a.next_page{ :rel => "prev", :href => commits_path(@platform, @repository, @project, :treeish => @treeish, :page => (@page - 1)) } « Previous

- if @last_page
  %span.next_page.disabled Next »
- else
  %a.next_page{ :rel => "next", :href => commits_path(@platform, @repository, @project, :treeish => @treeish, :page => (@page + 1)) } Next »