.top
  %span= t('notifications.bodies.delete_branch', {:branch_name => branch_name, :project_name => project_name}
  = activity_feed.created_at
  .both
.fulltext
  = link_to(project_name, project_path(project_id))
