.top
  .image
    = image_tag(avatar_url_by_email(activity_feed.user.email, :small), :alt => 'avatar')
  .text
    %span
      = raw t("notifications.bodies.issue_assign_notification", { :issue_link => link_to(issue_title, project_issue_path(project_id, issue_serial_id))})
      = raw t("notifications.bodies.project", :project_link => link_to(project_name, project_path(project_id))) if defined? project_name
    .both
      %span.date= activity_feed.created_at
  .both
