%p== #{ t("notifications.bodies.issue_assign_notification.title", :user_name => user_name) }

%p= raw t("notifications.bodies.issue_assign_notification.content", :issue_link => link_to(issue_title, project_issue_path(project_id, issue_serial_id)))
