%p== #{ t("notifications.bodies.new_commit_comment_notification.title", :user_name => user_name) }

%p= raw t("notifications.bodies.new_comment_notification.commit_content", {:commit_link => link_to(commit_message, commit_path(project_id, commit_id))})

%p "#{ comment_body }"
