%p== #{ t("notifications.bodies.new_user_notification.title", :user_name => user_name) }

%p #{ t("notifications.bodies.new_user_notification.content") }

%p #{ t("notifications.bodies.new_user_notification.email", :user_email => user_email) }