%p== User #{ link_to user_name, user_path(user_id) } has been update wiki #{ link_to "history", compare_versions_project_wiki_index_path(project_id, commit_sha) }
%p== Into project #{ link_to(project_name, project_path(project_id)) }
