%p== #{ t("notifications.bodies.issue_assign_notification.title", :user_name => user_name) }

%p #{ t("notifications.bodies.issue_assign_notification.content", :issue_link => link_to(issue_title, [project_id, issue_id])) }
