%p== Здравствуйте, #{user.name}.


%p На Ваш комментарий в задаче #{ link_to comment.commentable.title, [comment.commentable.project, comment.commentable] } был дан ответ.

%p "#{ comment.body }"


%p== Команда поддержки «ROSA Build System»
