%p== Здравствуйте, #{user.name}.


%p К задаче #{ link_to comment.commentable.title, [comment.commentable.project, comment.commentable] } был добавлен новый комментарий.

%p "#{ comment.body }"


%p== Команда поддержки «ROSA Build System»
