%p== #{ t("notifications.bodies.new_issue_notification.title", :user_name => user_name) }

%p #{ t("notifications.bodies.new_issue_notification.content", :issue_link => link_to(issue_title, [project_id, issue_id]), :project_link => link_to(project_name, project_path(project_id)) }
