.lineForm.fork
  = form_tag project_path(project), :id => 'branch_changer' do
    = select_tag :branch,
      options_from_collection_for_select(project.branches, :name, :name, @branch.name),
      :class => 'sel80', :id => 'branch_selector'
.fork
  %p= t('layout.projects.current_branch')+':'
.both
