.block.notice
  %h3= t("layout.users.own_projects")
  .content
    %p
      %ul
        - @own_projects.each do |project|
          %li
            = link_to project.name, project_path(project)
.block.notice
  %h3= t("layout.users.part_projects")
  .content
    %p
      %ul
        - @part_projects.each do |project|
          %li
            = link_to project.owner.uname + '/' + project.name + ' (' + project.name + ')', project_path(project)
