.description-top
  .img
    %img{:alt => "pic", :src => "/assets/code.png"}/
  = text_field_tag :url, git_repo_url(project.git_repo_name), :class => 'name',
      :type => 'text',:spellcheck => 'false', :disabled => 'disabled'
  .role
    чтение и запись
  = render :partial => 'projects/branch_select', :locals => {:project => project}
.both

:javascript
  $(document).ready(function() {
    $('select#branch_selector').live('change', function(e) {
      $form = $('form#branch_changer');
      $form.attr('action', $form.attr('action') + '/git/tree/' + $(this).val());
      $form.submit();
    });
  });
