%h3 Файлы проекта
.files
  .l
    %p#file-name1 rails/actionpack/lib
    %p#file-name2.non-view rails/actionpack/lib/Gemfile
  #fork-and-edit.r
    %a.button{:href => "#"} Fork and edit
.both
#file1
  %table#myTable.tablesorter.project{:cellpadding => "0", :cellspacing => "0"}
    %thead
      %tr
        %th.th1
          Имя
        %th.th2
          Дата
        %th.th3
          Сообщение
        %th.th4
          Автор сообщения
    %tbody
      %tr
        %td
          .pic
            %img{:src => "pics/folder.png"}/
          .name
            %a.files-see{:href => "#"} app/
        %td
          %span{:style => "display: none;"}> Dec 31, 2011
          31 декабря 2011
        %td
          Merger issues with Master
        %td
          santaux
      %tr
        %td
          .pic
            %img{:src => "pics/folder.png"}/
          .name
            %a.files-see{:href => "#"} bin/
        %td
          %span{:style => "display: none;"}> Dec 31, 2011
          31 декабря 2011
        %td
          Redo autostart script to start from user
        %td
          chipiga
      %tr
        %td
          .pic
            %img{:src => "pics/folder.png"}/
          .name
            %a.files-see{:href => "#"} config/
        %td
          %span{:style => "display: none;"}> Jan 01, 2012
          01 января 2012
        %td
          Remove some unnessacary comments
        %td
          latromni
      %tr
        %td
          .pic
            %img{:src => "pics/folder.png"}/
          .name
            %a.files-see{:href => "#"} db/
        %td
          %span{:style => "display: none;"}> Jan 02, 2012
          02 января 2012
        %td
          Merger issues with Master
        %td
          santaux
      %tr
        %td
          .pic
            %img{:src => "pics/folder.png"}/
          .name
            %a.files-see{:href => "#"} .rspec
        %td
          %span{:style => "display: none;"}> Jan 04, 2012
          04 января 2012
        %td
          Add pretty view for test listing
        %td
          santaux
      %tr
        %td
          .pic
            %img{:src => "pics/folder.png"}/
          .name
            %a.files-see{:href => "#"} README
        %td
          %span{:style => "display: none;"}> Jan 05, 2012
          05 января 2012
        %td
          Initial commit
        %td
          chipiga
#file2.non-view
  .file
    .top
      .l
        100644  |  94 lines (75 sloc)  |  2.18kb
      .r
        %a{:href => "#"} raw
        |
        %a{:href => "#"} blame
        |
        %a{:href => "#"} history
    %pre{:class => "brush: ruby;"}
      :preserve
        
        source 'https//rubygems.org'
        gemspec
        if ENV[ 'AREL']
        	gem 'arel', :path => ENV['AREL']
        else
        	gem 'arel'
        						          .both
