= render :partial => 'submenu'
- content_for :sidebar do
  .admin-preferences
    %ul
      %li.active
        %a{:href => "#"} Основное
      %li
        %a{:href => "#"} Разделы
      %li
        %a{:href => "#"} Участники

.leftlist
  Описание проекта:
.rightlist
  %textarea
.both
.leftlist
  Видимость проекта:
.rightlist
  %input#myradio1.niceRadio{:checked => "checked", :name => "myradio", :tabindex => "1", :type => "radio"}/
  %img{:alt => "public", :src => "pics/unlock.png"}/
  Публичный
  %input#myradio2.niceRadio{:name => "myradio", :tabindex => "2", :type => "radio"}/
  %img{:alt => "private", :src => "pics/lock.png"}/
  Приватный
.both
.leftlist
  Ветка по умолчанию:
.rightlist
  .lineForm
    %select#ext.sel80{:name => "ext", :tabindex => "2"}
      %option{:selected => "selected", :value => "1000"} Master
      %option{:value => "1"} Extend
      %option{:value => "2"} Fork4Driver
.both
.leftlist
  \&nbsp;
.rightlist
  .check
    %span#niceCheckbox1.niceCheck-main{:onclick => "changeCheck(this)"}
      %input{:name => "ch1", :type => "checkbox"}/
  .forcheck
    Проект является пакетом
  .both
.both
.leftlist
  \&nbsp;
.rightlist
  %a.button{:href => "#"} Сохранить
.both
.hr
.leftside
  Внимание! Удаленный проект восстановлению не подлежит.
.rightside
  %a.button{:href => "#"} Удалить
.both
