-set_meta_tags title: [title_object(@platform), t('layout.maintainers.list_header')]
-# FIXME: no these 'base' links!
= render 'platforms/base/submenu'
= render 'platforms/base/sidebar'
= render partial: 'list', object: @maintainers
= will_paginate @maintainers

