common: &common
  project_name: ABF
  repo_project_name: ABF
  anonymous_access: true
  preregistration: false
  file_store_url: 'http://file-store.rosalinux.ru'
  distr_types: ['mdv', 'rhel', 'nau5']
  allowed_addresses:
    - 127.0.0.100
  abf_worker:
    publish_workers_count: 2
    log_server:
      host: 127.0.0.1
      port: 6379
  keys:
    key_pair_secret_key: 'key_pair_secret_key'
    node_instruction_secret_key: 'node_instruction_secret_key'
    airbrake_api_key: 'airbrake_api_key'
    logentries_key: 'logentries_key'
    secret_token: 'secret_token'
    secret_key_base: 'secret_key_base'
    devise:
      pepper: 'devise_pepper'
      secret: 'devise_secret'
    github:
      id: 'APP_ID'
      secret: 'APP_SECRET'
    google:
      id: 'APP_ID'
      secret: 'APP_SECRET'
    facebook:
      id: 'APP_ID'
      secret: 'APP_SECRET'
  downloads_url: 'http://abf-downloads.rosalinux.ru'
  wiki_formats:
    markdown:  "Markdown"
    textile:   "Textile"
    # rdoc:      "RDoc"
    org:       "Org-mode"
    # creole:    "Creole"
    # mediawiki: "MediaWiki"
  feedback:
    email:
      - 'test@example.com'
      - 'test1@example.com'
    # or
    # email: 'test@example.com'

    # optional parameters
    cc:
      - 'test2@example.com' # or like email
    bcc:
      - 'test3@example.com' # or like email
    subject_prefixes: # or one line
      - 'from_feedback'
    subject_postfixes: # or one line
      - 'sample_postfix'
  shell_user: 'git'

development:
  <<: *common
  root_path: /var/rosa
  git_path: /var/rosa
  tmpfs_path: /dev/shm
  do-not-reply-email: do-not-reply@localhost
  github_services:
    ip: 127.0.0.1
    port: 1234

production:
  <<: *common
  root_path: /share
  git_path: /mnt/gitstore
  tmpfs_path: /dev/shm
  do-not-reply-email: do-not-reply@abf.rosalinux.ru
  mailer_https_url: false
  github_services:
    ip: 127.0.0.1
    port: 1234

test:
  <<: *common
  tmpfs_path: "use Rails.root/tmp/test_root in spec"
  root_path: "use Rails.root/tmp/test_root in spec"
  git_path: "use Rails.root/tmp/test_root in spec"
  do-not-reply-email: do-not-reply@localhost
