development:
  adapter: postgresql
  encoding: unicode
  database: rosa_development
  pool: 5
  username: rosa
  password: 

test:
  adapter: postgresql
  encoding: unicode
  database: rosa_test
  pool: 5
  username: rosa
  password: 

production:
  adapter: postgresql
  encoding: unicode
  database: rosa_production
  pool: 5
  username: postgres
  password: postgres
