production:
  adapter: postgresql
  encoding: unicode
  database: rosa_build
  template: template0
  pool: 5
  username: rosa
  password: rosa

test:
  adapter: postgresql
  encoding: unicode
  template: template0
  database: rosa_build_test
  username: postgres