-content_for :nav do
  %nav
    -if I18n.locale == :ru
      %a{href: "#{new_register_request_path}.en"}
        %p
          English
          %br>/
          version
    -elsif I18n.locale == :en
      %a{href: "#{new_register_request_path}.ru"}
        %p
          Русская
          %br>/
          версия

.left
  %p
    =raw t 'invites.description'
  %div{style: "clear: both;"}
.right
  %h3=t 'invites.want'
  %form#new_register_request{"accept-charset" => "UTF-8", action: "/register_requests", method: "post", name: "invite_form"}
    .signup-left=t 'invites.name'
    .signup-right
      %input#email.registartion-input-signup{name: "register_request[name]", onClick: "this.className='registartion-input-focus';disError(this);", onblur: "if(this.value==''){this.value='';this.className='registartion-input-signup';}else{this.className='registartion-input-no-focus';};buttonCheck();", onfocus: "if(this.value=='#{t 'invites.login_email'}'){this.value='';this.className='registartion-input-focus';};", onkeydown: "buttonCheck();", type: "text"}/
    %div{style: "clear: both;"}
    .signup-left=t 'invites.email'
    .signup-right
      %input#email.registartion-input-signup{name: "register_request[email]", onClick: "this.className='registartion-input-focus';disError(this);", onblur: "if(this.value==''){this.value='';this.className='registartion-input-signup';}else{this.className='registartion-input-no-focus';};buttonCheck();", onfocus: "if(this.value=='#{t 'invites.login_email'}'){this.value='';this.className='registartion-input-focus';};", onkeydown: "buttonCheck();", type: "text"}/
    %div{style: "clear: both;"}
    .signup-left=raw t 'invites.interest'
    .signup-right
      %select.registartion-input-signup{name: "register_request[interest]"}
        -t('invites.interests').each do |base, title|
          %option=title
    %div{style: "clear: both;"}
    .signup-left=t 'invites.comments'
    .signup-right
      %textarea.registartion-input-signup{name: "register_request[more]", rows: "3"}
    %div{style: "clear: both;"}
    =hidden_field_tag :format, I18n.locale
    .button
      %input.button{type: "submit", value: t('invites.send')}
%div{style: "clear: both;"}
