@import 'compass/utilities/tables';

table.info {
  width: 100%;
  td {padding: 5px;}
}

table.columns2 {
  @include inner-table-borders;
  th.first, td.first {width: 50%;}
}

table.columns3 {
  @include alternating-rows-and-columns(#eee, #ccc, #000);
  th.first, td.first, th.last, td.last {width: 30%;}
}
