// PUT custom styles here ONLY

span.error, .hidden {
  display: none;
}

.centered {
    text-align: center;
}

a#manage-labels {
  margin-bottom: 10px;
}
article a.edit_label {
  color: #FFF;
}

header div.information div.user {
    float: left;
    margin-left: 5px;
}

header div.user div.avatar {
    padding: 6px 10px 10px 10px;
}

header menu ul li a {
    padding: 15px 8px 15px 8px;
}

#description-top {
    height: auto;
    input.name {
        width: 350px;
        padding: 0;
        margin: 8px 0 20px 10px;
    }
    div.name input {
        width: 100%;
        height: 100%;
    }
    .git_help {
        float: left;
        margin-top: 11px;
        margin-left: 10px;
        font-size: 11px;
        color: green;
        cursor: pointer;
    }
    .project-tabnav .tabnav-tabs {
        height: 26px;
        margin: 0;
        li {
            display: inline-block;
            padding: 5px 10px 0;
            height: 21px;
            margin: 0 5px;
            border: 1px solid #a9c6dd;
            border-bottom: none;
            float: left;
        }
        li.selected {
            background-color: #FFF;
        }
        .tags { float: right; }
    }
}
#project-branches {
    width: 100%;
    border-spacing: 0;
    margin-top: 20px;
    tr.base {
        background: #dcecfa;
    }
    td.actions ul {
        float: right;
    }
    .text {
        font-size: 12px;
        padding-top: 2px;
    }
    td {
        border-bottom: 1px solid #a9c6dd;
        padding: 0 20px;
    }
    .name {
        font-weight: bold;
    }
}
#project-tags {
    .release-list {
        padding: 0;
        li {
            list-style-type: none;
            border-bottom: 1px solid #a9c6dd;
            padding: 10px 20px;
        }
    }
    .date {
        display: inline-block;
        padding: 0 5px;
        opacity: 0.5;
    }
    .name {
        display: inline-block;
    }
    .detail-link {
        margin: 0 5px;
        float: right;
    }
}
article div.activity, .commits_activity {
    border: 1px solid #D6D6D6;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    margin-top: 15px;
    padding: 6px;
}

.commits_activity table {
    border-collapse: collapse;
    width: 100%;
    img { margin: 2px 0 0 2px; }
    .date { width: 140px; }
    .name { width: 250px; }
    tr:nth-child(2n) {
        .md_and_cm, .data-expander { background-color: #E2E4FF; }
        background-color: #E2E4FF;
    }
}

article div.messages div.activity {
    margin-top: 0;
    margin-bottom: 10px;
}

article div.activity .top div.image {
    //position: absolute; // TODO broken issue page
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
}

article div.activity .top .buttons {
    display: block;
    position: relative;
    float: right;
 }

article div.activity .top div.text {
    float: left;
    font-size: 12px;
    padding-left: 10px;
    max-width: 579px;
}

article div.activity .top .imaged {
    margin-left: 44px;
}

article div.activity .top div.text .name {
    font-weight: 700;
    display: block;
    float: left;
}

article div.activity .top div.text .date {
    font-size: 11px;
    float: left;
}

article div.activity div.fulltext {
    font-size: 12px;
    padding-top: 5px;
    display: block;
}

article div.activity div.fulltext.alone {
    padding-top: 0px;
}

article div.activity .fulltext.hidden {
    display: none;
}

div.activity, .commits_activity {
    .data-expander {
        margin-left: 10px;
        display: inline-block;
        width: 12px;
        cursor: pointer;
    }
    .data-expander.collapsed {
        background: #FFF image-url('expand-gray.png') no-repeat;
        background-position: 0 2px;
    }
    .data-expander.expanded {
        background: #FFF image-url('expand-gray2.png') no-repeat;
        background-position: 0 2px;
    }
}

div.activity .fulltext p {
    margin: 5px;
    line-height: 1.3em;
}

table.blob td.lines pre {
    background-color: #ECECEC;
    border-right: 1px solid #DDDDDD;
    color: #AAAAAA;
    padding: 10px;
    text-align: right;
}

textarea#code {
    width: 845px;
    resize: none;
    height: 30em;
}

article div.date-block {
    margin-bottom: 30px;
}

article div.year {
    margin-top: 0;
}

article h3 {
    margin-bottom: 10px;
}

article div.date-block div.date {
    height: 52px;
}

.date_select {
  select {margin:3px 0px; padding:0px;}
}

article div#repo-wrapper div.hr {
    width: 100%;
}

article table.commit_stats {
    line-height: 1.4em;
    margin-top: 12px;
    width: 100%;
    border-spacing: 0;
    border-top: 1px solid #DDDDDD;
    margin: 10px 0;
    padding: 0;
    font-size: 90%;
    border-collapse: collapse;
}

article table.commit_stats td {
    border-bottom: 1px solid #DDDDDD;
    padding: 0.4em 5px;
}

article table.commit_stats .diffstat {
    text-align: right;
    white-space: nowrap;
    padding-right: 0;
    width: 1%;
}

article div.file div.diff_data {
    overflow-x: auto;
}

article div.file table {
    border-spacing: 0;
    border-collapse: collapse;
}

#repo-wrapper table.diff td.line_numbers {
     -moz-user-select: none;
    font-size: 12px;
    padding: 0 0.5em;
    background-color: #ECECEC;
    border-right: 1px solid #DDDDDD;
    color: #999999;
    text-align: right;
}

#repo-wrapper table.diff td.line_numbers,
#repo-wrapper table.diff td.header,
#repo-wrapper table.diff td.code {
    font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
}

#repo-wrapper table.diff td.header {
    background-color: #ECECEC;
    color: #999999;
    width: 100%;
    line-height: 1.4em;
    font-size: 90%;
}

#repo-wrapper table.diff td.code, #repo-wrapper table.diff td.header {
    padding-left: 10px;
}

#repo-wrapper table.diff pre {
    padding: 0;
    margin: 0;
}

#repo-wrapper table.diff .diff-content {
    padding: 0;
    margin: 0;
}

#repo-wrapper table.diff tr td.code.del {
    background-color: #FFDDDD;
}

#repo-wrapper table.diff tr td.code.del .idiff {
    background-color: #F2ACAD;
}

#repo-wrapper table.diff tr td.code.ins {
    background-color: #DDFFDD;
}

#repo-wrapper table.diff tr td.code.highlight-line {
    background-color: #FFFFCC;
}
.gutter .highlight-line {
    background-color: #FF9900;
    width: 805px;
    height: 12px;
    margin: -12px 0 0 50px;
    opacity: 0.2;
    position: absolute;
}

#repo-wrapper table.diff tr td.code.ins .idiff {
    background-color: #BAFBAD;
}

#repo-wrapper div.comment {
    background: none repeat scroll 0 0 #DCECFA;
    border: 1px solid #B3CCE0;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 6px;
    text-align: left;
}

#repo-wrapper div.view {
    display: block;
}

#repo-wrapper div.comment div.wrapper {
    border: 1px solid #DEDEDE;
    border-radius: 4px 4px 4px 4px;
    color: #575756;
    background: #FFFFFF;
    font-size: 12px;
    height: 110px;
    margin: 10px 0;
    padding: 5px;
}

#repo-wrapper div.comment div.wrapper textarea {
    border: none;
    color: #575756;
    font-family: Tahoma,Geneva,Helvetica,sans-serif;
    width: 100%;
    height: 100%;
    resize: none;
}

div.comment div.comment-left {
    float: left;
    font-size: 12px;
    margin-top: 4px;
}

div.comment div.comment-right {
    float: right;
}

div.comment textarea { resize: none }

#repo-wrapper div.file div.data .formatted {
    overflow-x: auto;
    overflow-y: none;
    white-space: pre;
}

table.tablesorter tbody td a .issue_title {
    color: #58595B;
    font-size: 13px;
}

.syntaxhighlighter {
    padding: 11px;
}

#output.formatted {
    width: auto;
    font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    color: #000000;
    padding: 10px 5px 0px;
    margin-left: 45px;
}

#output.formatted pre {
    font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    padding: 0;
    margin: 0;
}

div.gutter {
    border-right: 1px solid #CCCCCC !important;
}

table.tablesorter tr td.centered {
    text-align: center;
}

/* TODO change this */
header div.user div.avatar img {
    border: 1px solid #DDDDDD;
}

div.blame_data {
    font-size: 80%;
}

div.blame_data tr.firstrow {
    border-top: 1px solid #DDDDDD;
}


div.blame_data tr td.commit_info {
    padding: 0.5em !important;
    vertical-align: top;
    width: 210px;
    border-right: 1px solid #DDDDDD;
}

div.blame_data tr td.commit_info .date {
    display: block;
    float: left;
    color: #666666;
}

div.blame_data tr td.commit_info .message {
    width: 210px;
    display: block;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

div.blame_data tr td.lines {
    padding: 0 0.5em !important;
    width: 1%;
    font-size: 12px;
    line-height: 1.4em;
}

div.blame_data tr td.code {
    padding: 0 10px !important;
    font-size: 12px;
}

div.blame_data tr td.code pre {
    padding: 0;
    margin: 0;
}

// Search
p.block { margin-bottom: 10px; clear: both; }
table.tablesorter.bmargin5 {
  th { padding: 5px; }
  td p.block {margin-bottom: 0px;}
}


div#gollum-searchbar-fauxtext {
    padding-left: 10px;
}

div#gollum-searchbar-fauxtext input#search-query {
    display: inline-block;
    float: left;
    width: 145px;
    border: 1px solid #D3D3D3;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
    height: 24px;
    margin: 0;
    padding: 0 4px;
    vertical-align: middle;
    white-space: nowrap;
}

a#search-submit {
    -moz-box-sizing: content-box;
    border-left: medium none;
    border-radius: 0 3px 3px 0;
    height: 24px;
    margin-left: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    float: left;
}

a#search-submit span {
    background: image-url("gollum/icon-sprite.png") no-repeat scroll 50% 4px transparent;
    background-position: -430px -2px;
    height: 24px;
    text-indent: -9999px;
    width: 16px;
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 0 9px 0 7px;
}

a#search-submit:hover span {
    background-position: -430px -29px;
}

table.wiki .history .td2 .name span.username {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 164px;
}

table.tablesorter.platforms .th1 {
    width: 290px;
}

table.tablesorter.platforms .th2 {
    width: 280px;
}

table.tablesorter.advisories .th1 {
    width: 120px;
}

table.tablesorter.advisories .th2 {
    width: 250px;
}

table.tablesorter.advisories .th3 {
    width: auto;
}

table.tablesorter tr td.buttons {
    text-align: center;
}

table.tablesorter tr td.buttons a span.delete,
span.delete {
    background: image-url('x.png') no-repeat 0 0 transparent;
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
}

#fork-and-edit {display:block;}

.notify.blue {
    .error, .red, .nocolor, .warning, .success { float: left; }
    .error, .red {
        border: 1px solid #ddd;
        background-color: #FBE3E4;
        border-color: #FBC2C4;
    }
    .success {
        border: 1px solid #bad099;
        background: #d7e599;
    }
    .nocolor { border: 1px solid #a9c6dd; }
    .warning {
        border: 1px solid #FBEED5;
        background-color: #FCF8E3;
    }
}

a.button.left_floated {
    display: inline-block;
    float: left;
    margin-right: 5px;
}

div.buttons_block {
    margin-top: 20px;
}

table.tablesorter.unbordered {
    border: none;
}

table.tablesorter.unbordered tr td {
    border: none;
    padding: 3px;
}

table.tablesorter.repo-projects th.th1 {
    width: 250px;
}

table.tablesorter.repo-projects th.th3,
table.tablesorter th.buttons {
    width: 60px;
    text-align: center;
}

table.tablesorter.repo-projects td.td2,
.table-sort-right {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.dataTables_filter {
    margin-bottom: 15px;
}

div.dataTables_paginate {
    float: left;
}

div.dataTables_info {
    float: right;
}

div.dataTables_info,
div.dataTables_paginate.paging_will_paginate_like {
    margin-top: 15px;
}

div.dataTables_paginate.paging_will_paginate_like a.paginate_button,
div.dataTables_paginate.paging_will_paginate_like a.paginate_active {
    background: none repeat scroll 0 0 #EDEDED;
    color: #4C90D0 !important;
    border: 1px solid #DDDDDD;
    border-radius: 1px 1px 1px 1px;
    padding: 3px 7px;
    margin-right: 3px;
    cursor: pointer;
}

div.dataTables_paginate.paging_will_paginate_like a.paginate_button_disabled,
div.dataTables_paginate.paging_will_paginate_like a.paginate_active {
    color: #565657 !important;
    cursor: default;
}

div.dataTables_paginate.paging_will_paginate_like a.paginate_button_disabled:hover,
div.dataTables_paginate.paging_will_paginate_like a.paginate_active:hover {
    text-decoration: none;
}

div.dataTables_paginate.paging_will_paginate_like a.previous {
    margin-left: 0px;
    margin-right: 4px;
}

div.dataTables_paginate.paging_will_paginate_like a.next {
    margin-left: 1px;
    margin-right: 0px;
}

div.dataTables_paginate.paging_will_paginate_like a.paginate_active {
    background: none repeat scroll 0 0 #D5E7F9;
    border: 1px solid #C1DAED;
}

div.dataTables_processing {
    z-index: 999;
}

div.rightlist textarea {
    resize: none;
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #F0F0F6;
}

table.dataTable tr.even td.sorting_1 {
    background-color: #FFFFFF;
}

div.right.bigpadding div.command_select div.rightlist {
    width: 245px;
}

div.right.bigpadding div.command_select div.rightlist select {
    width: 240px;
    height: 23px;
}

div.right.bigpadding div.command_select div.rightlist textarea {
    width: 430px;
    height: 50px;
}

div.rightlist textarea.resizable {
    resize: both;
}

table.tablesorter.list-users th.th1 {
    width: 150px;
}

table.tablesorter.list-users th.th2 {
    width: 100px;
}

table.tablesorter.list-users th.th3 {
    width: 200px;
}

table.tablesorter.list-users th.th4 {
    width: 50px;
}

table.tablesorter.tokens th.th2 {
    width: 200px;
}

div.admin-role {
    padding-right: 10px;
}

.right_floated {
    float: right;
}

/* TODO think, how to do it more beautiful */
ul.ui-autocomplete {
    z-index: 999 !important;
}

table.dataTable {
    margin: 10px 0 15px;
}

table.tablesorter tr.search th {
    background: none repeat scroll 0 0 #DCECFA;
    padding: 0 17px 0 5px;
}

table.tablesorter tr.search th input[type="text"] {
    border: 1px solid #CDCDCD;
    border-radius: 4px 4px 4px 4px;
    font-family: Tahoma,Geneva,Helvetica,sans-serif;
    font-size: 12px;
    height: 16px;
    padding: 5px;
    width: 100%;

    margin-top: 2px;
}

div.toolbar {
}

div.toolbar a.button {
    float: left;
}

div.toolbar, table.dataTable {
    > .group_owner, > .user_owner, > .group, > .user { margin-right: 15px; }
    .group_owner, .user_owner, .group, .user { padding-left: 20px; }
    .user_owner { background: image-url('user16g.png') no-repeat 0 0 transparent; }
    .group_owner { background: image-url('group16g.png') no-repeat 0 0 transparent; }
    .user { background: image-url('user16.png') no-repeat 0 0 transparent; }
    .group { background: image-url('group16.png') no-repeat 0 0 transparent; }
}

.div-filter-labels {
    .group { background: image-url('group16b.png') no-repeat 0 0 transparent; }
    .user { background: image-url('user16b.png') no-repeat 0 0 transparent; }
    .user, .group { padding-left: 20px; }
}

.root {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

div.tos {
}

div.tos p {
    margin: 5px 0;
}

div.tos ol li {
    margin: 3px 0;
}

div.tos_sidebar ul {
    list-style: none outside none;
    margin: 20px 0 0;
    padding: 0;
    text-align: left;
    width: 215px;
}

div.tos_sidebar ul li {
    padding-bottom: 5px;
    padding-top: 5px;
    width: 215px;
}

div.tos_sidebar ul li:hover {
    background: none repeat scroll 0 0 #DCECFA;
}

div.tos_sidebar ul li a {
    color: #292929;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    text-decoration: none;
}

table.tablesorter tbody tr.regular td {
    background-color: #FFFFFF;
}

table.tablesorter tbody tr.removed td,
table.tablesorter tbody tr.sync_error td {
    background-color: #FFECEC;
}

table.tablesorter tbody tr.sync_success td {
    background-color: #E0ECFF;
}

ul.ui-autocomplete li.item {
/*    padding: 1px 0; */
}

ul.ui-autocomplete li.item div.collaborator {
    padding: 0px 10px;
}

ul.ui-autocomplete li.item a.ui-corner-all {
    padding: 0;
}

ul.ui-autocomplete li.item a.ui-corner-all.ui-state-hover {
    background: #DCECFA;
    border: 1px solid #65A6F7;
}

ul.ui-autocomplete li.item div.collaborator div.img {
    padding: 0;
    padding-top: 1px;
}
ul.ui-autocomplete li.item div.collaborator div.name {
    padding: 0;
    margin-left: 5px;
}

ul.ui-autocomplete.has_results {
    overflow: auto;
}

#add_collaborator_form div.admin-search.withimage {
    width: 301px;
}

#add_collaborator_form div.search_string {
    margin-left: 5px;
    float: left;
    padding-top: 6px;
}
#collaborators {
    .img, img {
        width: 25px;
        height: 25px;
    }
}

#add_collaborator_form .admin-role .lineForm {
    padding-top: 7px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #CFCFCF;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #CFCFCF;
}

input.placeholder,
textarea.placeholder {
    color: #CFCFCF;
}

#git_help_data {
  display: none;
  padding-left: 10px;
  p { padding-bottom: 5px; }
}

// for bootstrap
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.modal {
  margin: -150px 0 0 -280px;
}

#forkModal.modal .btn.btn-primary {
  width: 100%;
}

.center {
  text-align: center;
}

.zip {
  float: left;
  padding-left: 5px;
  margin: 9px 0 0;
  list-style: none;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #DCECFA;
}

.dropdown-menu {
    min-width: 0;
}

.dropdown.open .dropdown-toggle {
    background: none repeat scroll 0 0;
}

.rightlist p {
    padding-bottom: 1em;
}

.leftlist span.hint {
    padding-top: 1em;
    display: block;
    font-size: 0.9em;
}

.atom_icon {
  vertical-align: top;
}

.tab-content.pull_diff_fix {
  overflow: inherit;
  display: block;
}

table.diff {
  font-size: 12px;
}

/* Mass build forms */
.mass-build-actions a.button {
    margin-bottom: 5px;
}

form.mass_build input[type="checkbox"] {
  width: 10px;
  height: 11px;
}

/*div#new_advisory_form,
div#advisory_preview,
div#advisory_search_block,
div#advisory_search_block div.info {
    display: none;
}*/

div#advisory_search_block {
    padding-bottom: 15px;
}

p.hint_text {
    color: #666666;
    font-size: 0.9em;
    padding: 0;
}

div#advisory_block p.hint_text {
    display: block;
    width: 350px;
}

div#advisory_search_block div.info {
    width: 565px;
    border: solid 1px;
    border-radius: 5px;
}

div#advisory_search_block div.info p {
    text-align: center;
    margin: 0.5em 2em 0.7em;
}

div#advisory_search_block div.advisory_not_found {
    background-color: #B7CFFF;
    border-color: #6666FF;
}

div#advisory_search_block div.server_error {
    background-color: #FACFCF;
    border-color: #FF7777;
}

div#advisory_search_block div.continue_input {
    background-color: #CFFACF;
    border-color: #00CF00;
    display: block;
}

/*=============== popovers ===============*/

.popover {
    display: none;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 1010;
}

.popover.top {
    margin-top: -5px;
}

.popover.right {
    margin-left: 5px;
}

.popover.bottom {
    margin-top: 5px;
}

.popover.left {
    margin-left: -5px;
}

.popover.top .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000000;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

.popover.right .arrow {
    border-bottom: 5px solid transparent;
    border-right: 5px solid #000000;
    border-top: 5px solid transparent;
    left: 0;
    margin-top: -5px;
    top: 50%;
}

.popover.bottom .arrow {
    border-bottom: 5px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 50%;
    margin-left: -5px;
    top: 0;
}

.popover.left .arrow {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000000;
    border-top: 5px solid transparent;
    margin-top: -5px;
    right: 0;
    top: 50%;
}

.popover .arrow {
    height: 0;
    position: absolute;
    width: 0;
}

.popover-inner {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 3px;
    width: 280px;
    text-align: justify;
}

.popover-title {
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEEEEE;
    border-radius: 3px 3px 0 0;
    line-height: 1;
    padding: 9px 15px;
    margin: 0;
}

.popover-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-radius: 0 0 3px 3px;
    padding: 14px;
    font-size: 13px;
}

.popover-content p, .popover-content ul, .popover-content ol {
    margin-bottom: 0;
    margin: 0;
}

.fade {
    -moz-transition: opacity 0.15s linear 0s;
    opacity: 0;
}

.fade.in {
    opacity: 1;
}
/*=============== popovers end ===============*/

.bottom_20 {
  margin-bottom: 20px;
}

form.mass_build {
  section.left {
    margin-left: 10px;
    width: 350px;
  }

  section.right {
    margin-right: 50px;
  }
  input[type="submit"] {
    margin: 10px 0 10px 0;
  }
  #projects_list {
    min-width:315px;
  }
}

#new_build_list section.right {
    width: 300px;
    margin-right: 150px;
}

.full-size { width: 100%; }

.toggle {
  overflow: hidden;
  padding-top: 10px;
  display: block;
  visibility: hidden;
}

.min_width_120 {
  min-width: 120px;
}

.chzn-select {
    width: 350px;
}

.packages_info_container ul {
    list-style-type: none;
    padding-left: 25px;
    margin: 5px 0;
}

.packages_info_container ul.platforms {
    padding: 0;
}

/* remove this lines after change to backbone */
table.tablesorter.static-search thead tr.search th {
    padding: 0 5px;
}

table.tablesorter.static-search thead tr.search th input[type='text'] {
    width: 640px;
}

table.tablesorter.static-search thead tr.search th form {
    float: left;
}

table.tablesorter.static-search thead tr.search th form.button_to {
    padding: 3px 0 0 7px;
}

table.tablesorter tr td.no_results {
    text-align: center;
}
/* end */

article div.all {
    width: 860px;
}

div.inner-columns {
    width: 100%;
    height: auto;
    display: block;
}

div.inner-columns:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

div.inner-columns.equal section {
    width: 430px;
    float: left;
}

section.first div {
    width: 415px;
}

form.inline_errors span.error {
    display: inline-block;
    color: #FF5050;
}

div.form-actions {
    text-align: right;
    padding-bottom: 5px;
}

div.form-actions .button {
    margin-right: 50px;
}

dl.form, div.form-actions {
    margin: 15px 0;
}

dl.form > dt {
    margin: 0 0 6px;
}

dl.form > dt label {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

dl.form > dd {
    margin: 0;
    padding: 0;
    border: 0, none;
}

dl.form > dd > input[type="text"],
dl.form > dd > input[type="password"],
dl.form > dd > textarea {
  width: 350px;
  border: 1px solid #A0A0A0;
  border-radius: 4px;
  padding: 5px;
  font-family: Tahoma, Geneva, Helvetica, sans-serif;
  font-size: 12px;
}

dl.form > dd > input.error[type="text"],
dl.form > dd > input.error[type="password"],
dl.form > dd > textarea.error {
    border-color: #FF8080;
}

dl.form > dd > input[type="text"],
dl.form > dd > input[type="password"] {
  height: 16px;
}

dl.form > dd > textarea {
  height: 110px;
}

ul.checklist {
    font-size: 12px;
    font-weight: bold;
    margin: 20px 0;
    padding: 0;
}

ul.checklist li {
    background: image-url("check.png") no-repeat scroll 0 2px transparent;
    list-style-type: none;
    margin: 15px 0;
    padding-left: 25px;
}

div.all.feedback_sended {
    background: image-url("feedback.png") no-repeat scroll 49% 0 transparent;
    height: 500px;
    text-align: center;
}

article div.all.feedback_sended h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 165px 0 0;
    padding: 0;
}

article div.all.feedback_sended h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0 0;
    padding: 0;
}
article div.all.feedback_sended p.pages {
    margin-top: 70px;
    width: 280px;
}

article div.all.feedback_sended p.search {
    margin-top: 80px;
    width: 230px;
}

article div.all.feedback_sended p {
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

hr.bootstrap {
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.fork-modal {
  top: 45%;
}

.modal-body-fork {
  max-height: 280px;
}

.label-bootstrap.label-info.font14 {
  padding: 4px;
  line-height: 1.8;
  a { color: #FFFFFF; }
}
.line_numbers a {
  color: #999999;
}

/* Flash Notifies */

.flash_notify {
  .alert-success {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
  }

  .alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #C09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .alert-danger, .alert-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
  }

  .alert-info {
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
  }

  .alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
  }

  button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }

  .close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
}

div.reloader {
    float: right;
}

.log-wrapper {
    width: 565px;

    .log-header {
        margin-bottom: 10px;

        .text-wrap, span {
            height: 16px;
            margin: 0;
            padding: 0;
        }
        .text-wrap {
            width: 545px;
            float: left;

            h3 {
                margin: 0;
            }
        }

        span {
            background: image-url("trigger.gif") no-repeat scroll left bottom transparent;
            margin: 1px;
            cursor: pointer;
            display: block;
            font-size: 0;
            height: 14px;
            width: 14px;
            float: right;
        }
        span.closed {
            background-position: left top;
        }
    }

    .log-body {

        .reloader, .log {
            border: 1px solid #ccc;
        }

        .reloader {
            padding: 5px 10px;
            border-bottom: none;
            border-radius: 5px 5px 0 0;

            table.options {
                border-spacing: 5px 0;

                tr {

                    td a {
                        display: inline-block;
                        height: 13px;
                        padding-left: 16px;
                        background: image-url('code.png') no-repeat;
                        padding-bottom: 2px;
                        margin: 2px 0 0 1px;
                    }
                    td.first {
                        padding-right: 5px;
                    }
                    td.last {
                        border-left: 1px solid #ccc;
                    }
                }
            }
        }

        .log {
            background: #f8f8f8;
            height: 500px;
            width: 543px;
            white-space: pre;
            min-width: 543px;
            border-radius: 5px 0 5px 5px;
            overflow: auto;
            padding: 10px;
            margin: 0;
            font-family: monospace;
            font-size: 13px;
        }
    }
}

table.tablesorter.platform-maintainers.static-search thead tr.search th input[type="text"] {
    width: 430px;
}

.tablesorter .right {
    text-align: right;
}

.all_platforms {
    > .both { margin: 0 0 5px; }
    .build_for_pl { font-weight: bold; }
    .offset25 { padding-left: 10px }
}

.md_and_cm {
  overflow: auto;
  margin: 5px 0 0;
  padding: 5px;
  border-radius: 4px 4px 4px 4px;
  background: #FFF;

  pre {
    background-color: #F8F8F8;
    border: 1px solid #D6D6D6;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    padding: 6px 10px;
    overflow: auto;

    code {
      background-color: transparent;
      border: none;
    }
  }

  code {
    background-color: #F8F8F8;
    border: 1px solid #D6D6D6;
    border-radius: 5px 5px 5px 5px;
    margin: 0 2px;
    padding: 0px 5px;
  }

  blockquote {
    border-left: 4px solid #EDEDED;
    padding: 0 15px;
  }

  p {
    margin-top: 10px !important;
  }
}

.md_and_cm > :first-child {
  margin-top: 0 !important;
}

#md_tabs {
  margin: 0;
}

#md_tabs.nav-tabs > li > a {
  line-height: 5px;
}

#open-comment {
  textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 4px 4px 4px 4px;
    color: #575756;
    font-size: 12px;
    height: 110px;
    padding: 5px;
    width: 98%;
    max-width: 98%;
    margin: 10px 0 10px;
    resize: vertical;
  }

  textarea#issue_title, textarea#pull_request_issue_attributes_title {
    height: 16px;
    margin: 0 0 10px;
  }

  .tab-pane textarea {
    min-height: 112px;
  }

  .edit_comment .comment-left {
    margin-top: 0;
  }
}

#open-comment > h3.tmargin0 {
  margin-bottom: 0;
}

#md_help {
  width: 800px;
  top: 30%;
  left: 42%;

  .modal-body {
    max-height: 560px;
    padding-top: 0;
  }

  .modal-header {
    padding-bottom: 0;
  }

  .col {
    width: 245px;
    float: left;
    padding: 0;
    margin-right: 10px;

    h3 {
      margin: 6px 0 0 0;
    }

    pre {
      background: none repeat scroll 0 0 #EDEDED;
      box-shadow: 0 3px 3px -1px rgba(18, 86, 135, 0.2);
      border: 1px solid #EDEDED;
      padding: 5px;
      margin-top: 3px;
    }
  }
}

#repo-wrapper .add_line-comment {
  position: absolute;
  width: 25px;
  height: 18px;
  margin-left: -103px;
  margin-top: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(Opacity=0);
  -moz-opacity:0;
}

#repo-wrapper tr:hover .add_line-comment {
  opacity: 1;
  filter: alpha(Opacity=100);
  -moz-opacity:1;
}

div.file .inline-comments {
  .top {
    height:auto;
    background: none;
    box-shadow: none;
  }

  .activity {
    border-radius: 0;
    max-width: 752px;
    margin-left: 10px;
  }
}

tr.inline-comments td {
  border: solid #DDD;
  border-width: 1px 0;
}

.inline-comments #open-comment {
  max-width: 754px;
  margin: 10px;
}

#repo-wrapper .edit_form.issue div.comment div.wrapper {
  background: 0;
  border: 0;
  border-radius: 0;
  height: 30px;
  margin: 0;
  padding: 0;
}

form#new_pull_request {
  .leftlist {
    width: 50px;
    margin: 5px 0 20px 0;
  }
  .leftlist.big-list {
    margin-top: 0;
    width: 150px;
  }

  .l {
    float: left;
    margin-right: 10px;

    input {
      height: 21px;
      width: 380px;
    }

    select {
      width: 380px;
    }
  }
}

#repo-wrapper form#new_pull_request .wrapper {
  background: none;
  border: none;
  height: 36px;
  margin: 0;
  padding: 0;
}

.new_inline_comment.button {
  margin: 10px 0 10px 10px;
}

.niceRadio input {
  display:none;
}

table#myTable thead tr.search th form.button_to div input {
  margin-top: 2px;
}

.file-editor {
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 860px;
}

.CodeMirror {
  border: 1px solid #DDDDDD;
}

.semi {
  opacity: 0.5;
}

#filter_new_build {
  display: inline-block;
  white-space: nowrap;
  background-color: #125687;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#68a3d8), to(#125687));
  background-image: -webkit-linear-gradient(top, #68a3d8, #125687);
  background-image: -moz-linear-gradient(top, #68a3d8, #125687);
  background-image: -ms-linear-gradient(top, #68a3d8, #125687);
  background-image: -o-linear-gradient(top, #68a3d8, #125687);
  background-image: linear-gradient(top, #68a3d8, #125687);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#68a3d8', EndColorStr='#125687');
  border: 1px solid #5084b4;
  padding: 3px 20px 5px;
  margin: 0;
  font-size: 12px;
  text-decoration: none;
  color: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  height: auto;
  width: auto;
  font-family: Tahoma;
}

#filter_new_build:hover{
    background-color: #34719d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7fb3e1), to(#34719d));
  background-image: -webkit-linear-gradient(top, #7fb3e1, #34719d);
  background-image: -moz-linear-gradient(top, #7fb3e1, #34719d);
  background-image: -ms-linear-gradient(top, #7fb3e1, #34719d);
  background-image: -o-linear-gradient(top, #7fb3e1, #34719d);
  background-image: linear-gradient(top, #7fb3e1, #34719d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7fb3e1', EndColorStr='#34719d');
  text-decoration: none;
  cursor: pointer;
}

#filter_new_build {
  width: 100px;
  padding: 3px 5px 5px;
  float: right;
  margin-left: 10px;
}


.autocomplete-form {
    width: 330px;
    .actions { width: 15px; }
    h3 { display: inline-block; }
    .tablesorter {
        width: auto;
        min-width: 250px;
    }
}

#extra_repositories_dialog, #extra_build_lists_dialog  {
    font-size: 12px;
    text-align: left;
    p { margin: 0; }
}
#ui-dialog-title-extra_repositories_dialog, #ui-dialog-title-extra_build_lists_dialog {
    font-size: 14px;
}

#description-top input.name {
  width:280px;
  margin-left:0;
}

.btn-group#clone-urls {
  float:left;
  margin-top:8px;
  width:auto;

  .git-protocol-selector {
    width:auto;
    height:23px;
    padding: 0 3px;
  }
}

#clone-urls > .git-protocol-selector:last-child {
  margin: 0;
}
#clone-urls > .git-protocol-selector:first-child {
  margin:0 0 0 10px;
}

#table1 .tracker {
    border-top: none;
    margin-top: 0;
}
#description-top.issues-filter {
    background: #dcecfa;
    font-size: 12px;
    color: #292929;
    border: 1px solid #a9c6dd;
    margin: 0;
    padding: 5px 0 0;

    li {
        cursor: pointer;
    }

    li.list-browser-sorts {
        float: right;
        margin: -6px 0 0;
        border: 1px solid #a9c6dd;
        border-right: none;
        width: 90px;
        text-align: center;
        padding: 7px 5px 3px;
    }
}

.activity .state {
  float: right;
  padding: 3px 10px;
  margin: 3px 0;
  font-size: 12px;
  color: white;
  border-radius: 2px;
}

article .activity .top {

  .created {
    margin-left: 50px;
    span, a {
        font-size: 11px;
    }
  }
  .issue_title.text {
    max-width: none;
    float: none;
    margin-left: 50px;
    padding: 0;
  }
  h3.issue_title {
    margin: 5px 0 0;
    font-size: 18px;
  }
  .assigned-header {
    padding: 10px 20px;
    border: 1px solid #D6D6D6;
    margin: 10px -7px;
    border-left: none;
    border-right: none;
  }
}

#assigned-container {
    .icon-share {
        cursor: pointer;
    }
    .image {
        float: left;
        width: auto;
        height: auto;
        margin: -1px 5px 0 0;
        img {
            width: 16px;
            height: 16px;
        }
    }
    .name {
        margin-left: 5px;
    }
}

.users-search-popup {
    z-index: 1001;
    position: absolute;
    margin: 5px 0 0 130px;
    display: none;
    min-width: 240px;
    border: 1px solid #b3cce0;
    background: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    .header .icon-remove-circle {
        cursor: pointer;
        float: right;
    }
    .header {
        padding: 10px;
        background: #dcecfa;
        border-bottom: 1px solid #D6D6D6;
        font-weight: bold;
        .title { display: inline-block; }
    }
    .search-container {
        padding: 10px 15px 10px 10px;
        border-bottom: 1px solid #D6D6D6;
        input {
            width: 100%;
            max-width: 100%;
        }
    }
    .edit_assignee {
        display: none;
    }
    .list {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 280px;
        .people, .nothing {
            margin: 0;
            width: 100%;
            padding: 10px 20px 10px 10px;
        }
        .clear, .nothing {
            opacity: 0.8;
        }
        .container {
            display: none;
        }
    }
}

.cm-s-default.md_and_cm p img {
  max-width: 800px;
}

.tablesorter.project {
    .th1 {
        width: auto;
    }
    th { text-align: center; }
}

.activity-tabs {
  margin: 10px 0 0 0;
  background: none;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}

.build-list .button {
  margin: 2px 0;
}

#contents {
    .path {
        a {
            margin-right: 20px;
        }
        .text {
            padding: 5px 10px;
            background-color: #dcecfa;
            float: left;
            height: 14px;
        }
        .arrow-right {
            content: '';
            width: 0;
            height: 0;
            border: 12px solid transparent;
            border-left: 12px solid #dcecfa;
            float: left;
        }
    }

}

table tbody {
    td.build-list-statuses {
        background: #FFF;

        .status {
            float: left;
            border: 1px solid #DDD;
            margin: 1px 2px;
        }
        .error   { background: #fedede; }
        .success { background: #e3edb7; }
        .warning { background: #FCF8E3; }
        .nocolor { background: #FFF; }
        .expand {
            position: absolute;
            margin: -9px 0 0 -23px;
            border: 1px solid #DDD;
            border-right-color: #FFF;
            padding: 1px;
            cursor: pointer;
        }
    }
    tr.group-start td {
        border-top: 2px solid #125687;
    }
    tr.group-end td {
        border-bottom: 2px solid #125687;
    }
}

#will_paginate .pagination {
    div {
        display: inline-block;
        margin: 0 2px;
    }
    a {
        text-decoration: none;
    }
    .disabled a {
        color: #292929;
        cursor: default;
    }
}

.fork_name {
  height: 20px;
  margin: 0 0 5px 10px;
  width: 400px;
  padding: 0 5px;
  margin:auto;
}
