// PUT custom styles here ONLY

span.error, .hidden {
  display: none;
}

.centered {
    text-align: center;
}

a#manage-labels {
  margin-bottom: 10px;
}
article a.edit_label {
  color: #FFF;
}

header div.information div.user {
    float: left;
    margin-left: 5px;
}

header div.user div.avatar {
    padding: 6px 10px 10px 10px;
}

header menu ul li a {
    padding: 15px 8px 15px 8px;
}

div.description-top input.name {
    width: 350px;
    padding: 0;
}

div.description-top div.name input {
    width: 100%;
    height: 100%;
}

article div.activity {
    border: 1px solid #D6D6D6;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    margin-top: 15px;
    padding: 6px;
}

article div.messages div.activity {
    margin-top: 0;
    margin-bottom: 10px;
}

article div.activity .top div.image {
    //position: absolute; // TODO broken issue page
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
}

article div.activity .top .buttons {
    display: block;
    position: relative;
    float: right;
}

article div.activity .top div.text {
    float: left;
    font-size: 12px;
    padding-left: 10px;
}

article div.activity .top .imaged {
    margin-left: 44px;
}

article div.activity .top div.text .name {
    font-weight: 700;
    display: block;
    float: left;
}

article div.activity .top div.text .date {
    font-size: 11px;
    float: left;
}

article div.activity div.fulltext {
    font-size: 12px;
    padding-top: 10px;
    display: block;
}

article div.activity div.fulltext.alone {
    padding-top: 0px;
}

article div.activity .fulltext.hidden {
    display: none;
}

div.activity .data-expander {
    margin-left: 10px;
    display: inline-block;
    width: 12px;
}

div.activity .data-expander.collapsed {
    background: #FFF image-url('expand-gray.png') no-repeat;
    background-position: 0 2px;
}

div.activity .data-expander.expanded {
    background: #FFF image-url('expand-gray2.png') no-repeat;
    background-position: 0 2px;
}

div.activity .fulltext p {
    margin: 5px;
    line-height: 1.3em;
}

table.blob td.lines pre {
    background-color: #ECECEC;
    border-right: 1px solid #DDDDDD;
    color: #AAAAAA;
    padding: 10px;
    text-align: right;
}

textarea#code {
    width: 845px;
    resize: none;
    height: 30em;
}

article div.date-block {
    margin-bottom: 30px;
}

article div.year {
    margin-top: 0;
}

article h3 {
    margin-bottom: 10px;
}

article div.date-block div.date {
    height: 52px;
}

.date_select {
  select {margin:3px 0px; padding:0px;}
}

article div#repo-wrapper div.hr {
    width: 100%;
}

article table.commit_stats {
    line-height: 1.4em;
    margin-top: 12px;
    width: 100%;
    border-spacing: 0;
    border-top: 1px solid #DDDDDD;
    margin: 10px 0;
    padding: 0;
    font-size: 90%;
    border-collapse: collapse;
}

article table.commit_stats td {
    border-bottom: 1px solid #DDDDDD;
    padding: 0.4em 5px;
}

article table.commit_stats .diffstat {
    text-align: right;
    white-space: nowrap;
    padding-right: 0;
    width: 1%;
}

article div.file div.diff_data {
    overflow-x: auto;
}

article div.file table {
    border-spacing: 0;
    border-collapse: collapse;
}

#repo-wrapper table.diff td.line_numbers {
     -moz-user-select: none;
    font-size: 12px;
    padding: 0 0.5em;
    background-color: #ECECEC;
    border-right: 1px solid #DDDDDD;
    color: #999999;
    text-align: right;
}

#repo-wrapper table.diff td.line_numbers,
#repo-wrapper table.diff td.header,
#repo-wrapper table.diff td.code {
    font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
}

#repo-wrapper table.diff td.header {
    background-color: #ECECEC;
    color: #999999;
    width: 100%;
    line-height: 1.4em;
    font-size: 90%;
}

#repo-wrapper table.diff td.code, #repo-wrapper table.diff td.header {
    padding-left: 10px;
}

#repo-wrapper table.diff pre {
    padding: 0;
    margin: 0;
}

#repo-wrapper table.diff .diff-content {
    padding: 0;
    margin: 0;
}

#repo-wrapper table.diff tr td.code.del {
    background-color: #FFDDDD;
}

#repo-wrapper table.diff tr td.code.del .idiff {
    background-color: #F2ACAD;
}

#repo-wrapper table.diff tr td.code.ins {
    background-color: #DDFFDD;
}

#repo-wrapper table.diff tr td.code.ins .idiff {
    background-color: #BAFBAD;
}

#repo-wrapper div.comment {
    background: none repeat scroll 0 0 #DCECFA;
    border: 1px solid #B3CCE0;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 6px;
    text-align: left;
}

#repo-wrapper div.view {
    display: block;
}

#repo-wrapper div.comment div.wrapper {
    border: 1px solid #DEDEDE;
    border-radius: 4px 4px 4px 4px;
    color: #575756;
    background: #FFFFFF;
    font-size: 12px;
    height: 110px;
    margin: 10px 0;
    padding: 5px;
}

#repo-wrapper div.comment div.wrapper textarea {
    border: none;
    color: #575756;
    font-family: Tahoma,Geneva,Helvetica,sans-serif;
    width: 100%;
    height: 100%;
    resize: none;
}

div.comment div.comment-left {
    float: left;
    font-size: 12px;
    margin-top: 4px;
}

div.comment div.comment-right {
    float: right;
}

div.comment textarea { resize: none }

#repo-wrapper div.file div.data .formatted {
    overflow-x: auto;
    overflow-y: none;
    white-space: pre;
}

table.tablesorter tbody td a .issue_title {
    color: #58595B;
}

.syntaxhighlighter {
    padding: 11px;
}

#output.formatted {
    width: auto;
    font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    color: #000000;
    padding: 10px 5px 0px;
    margin-left: 45px;
}

#output.formatted pre {
    font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    padding: 0;
    margin: 0;
}

div.gutter {
    border-right: 1px solid #CCCCCC !important;
}

table.tablesorter tr td.centered {
    text-align: center;
}

/* TODO change this */
header div.user div.avatar img {
    border: 1px solid #DDDDDD;
}

div.blame_data {
    font-size: 80%;
}

div.blame_data tr.firstrow {
    border-top: 1px solid #DDDDDD;
}


div.blame_data tr td.commit_info {
    padding: 0.5em !important;
    vertical-align: top;
    width: 210px;
    border-right: 1px solid #DDDDDD;
}

div.blame_data tr td.commit_info .date {
    display: block;
    float: left;
    color: #666666;
}

div.blame_data tr td.commit_info .message {
    width: 210px;
    display: block;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

div.blame_data tr td.lines {
    padding: 0 0.5em !important;
    width: 1%;
    font-size: 12px;
    line-height: 1.4em;
}

div.blame_data tr td.code {
    padding: 0 10px !important;
    font-size: 12px;
}

div.blame_data tr td.code pre {
    padding: 0;
    margin: 0;
}

// Search
p.block { margin-bottom: 10px; clear: both; }
table.tablesorter.bmargin5 {
  th { padding: 5px; }
  td p.block {margin-bottom: 0px;}
}


div#gollum-searchbar-fauxtext {
    padding-left: 10px;
}

div#gollum-searchbar-fauxtext input#search-query {
    display: inline-block;
    float: left;
    width: 145px;
    border: 1px solid #D3D3D3;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
    height: 24px;
    margin: 0;
    padding: 0 4px;
    vertical-align: middle;
    white-space: nowrap;
}

a#search-submit {
    -moz-box-sizing: content-box;
    border-left: medium none;
    border-radius: 0 3px 3px 0;
    height: 24px;
    margin-left: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    float: left;
}

a#search-submit span {
    background: image-url("gollum/icon-sprite.png") no-repeat scroll 50% 4px transparent;
    background-position: -430px -2px;
    height: 24px;
    text-indent: -9999px;
    width: 16px;
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 0 9px 0 7px;
}

a#search-submit:hover span {
    background-position: -430px -29px;
}

table.wiki .history .td2 .name span.username {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 164px;
}

table.tablesorter.platforms .th1 {
    width: 290px;
}

table.tablesorter.platforms .th2 {
    width: 280px;
}

table.tablesorter.advisories .th1 {
    width: 120px;
}

table.tablesorter.advisories .th2 {
    width: 250px;
}

table.tablesorter.advisories .th3 {
    width: auto;
}

table.tablesorter tr td.buttons {
    text-align: center;
}

table.tablesorter tr td.buttons a span.delete,
span.delete {
    background: image-url('x.png') no-repeat 0 0 transparent;
    width: 12px;
    display: inline-block;
    cursor: pointer;
}

#fork-and-edit {display:block;}

.notify.blue div.success {
  border: 1px solid #bad099;
  background: #d7e599;
  float: left;
}

div.notify.blue div.error {
  float: left;
  border: 1px solid #ddd;
  background-color: #FBE3E4;
  border-color: #FBC2C4;
}

div.notify.blue div.nocolor {
  float: left;
  border: 1px solid #a9c6dd;
}

div.notify.blue div.red {
  float: left;
  border: 1px solid #ddd;
  background-color: #FBE3E4;
  border-color: #FBC2C4;
}

a.button.left_floated {
    display: inline-block;
    float: left;
    margin-right: 5px;
}

div.buttons_block {
    margin-top: 20px;
}

table.tablesorter.unbordered {
    border: none;
}

table.tablesorter.unbordered tr td {
    border: none;
    padding: 3px;
}

table.tablesorter.repo-projects th.th1 {
    width: 250px;
}

table.tablesorter.repo-projects th.th3,
table.tablesorter th.buttons {
    width: 60px;
    text-align: center;
}

table.tablesorter.repo-projects td.td2,
.table-sort-right {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.dataTables_filter {
    margin-bottom: 15px;
}

div.dataTables_paginate {
    float: left;
}

div.dataTables_info {
    float: right;
}

div.dataTables_info,
div.dataTables_paginate.paging_will_paginate_like {
    margin-top: 15px;
}

div.dataTables_paginate.paging_will_paginate_like a.paginate_button,
div.dataTables_paginate.paging_will_paginate_like a.paginate_active {
    background: none repeat scroll 0 0 #EDEDED;
    color: #4C90D0 !important;
    border: 1px solid #DDDDDD;
    border-radius: 1px 1px 1px 1px;
    padding: 3px 7px;
    margin-right: 3px;
    cursor: pointer;
}

div.dataTables_paginate.paging_will_paginate_like a.paginate_button_disabled,
div.dataTables_paginate.paging_will_paginate_like a.paginate_active {
    color: #565657 !important;
    cursor: default;
}

div.dataTables_paginate.paging_will_paginate_like a.paginate_button_disabled:hover,
div.dataTables_paginate.paging_will_paginate_like a.paginate_active:hover {
    text-decoration: none;
}

div.dataTables_paginate.paging_will_paginate_like a.previous {
    margin-left: 0px;
    margin-right: 4px;
}

div.dataTables_paginate.paging_will_paginate_like a.next {
    margin-left: 1px;
    margin-right: 0px;
}

div.dataTables_paginate.paging_will_paginate_like a.paginate_active {
    background: none repeat scroll 0 0 #D5E7F9;
    border: 1px solid #C1DAED;
}

div.dataTables_processing {
    z-index: 999;
}

div.rightlist textarea {
    resize: none;
}

div#crontab_generator .leftlist,
div#crontab_generator .rightlist {
    width: 50%;
}

div#crontab_generator .leftlist select,
div#crontab_generator .rightlist select {
    margin-top: 10px;
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #F0F0F6;
}

table.dataTable tr.even td.sorting_1 {
    background-color: #FFFFFF;
}

div.right.bigpadding div.command_select div.rightlist {
    width: 245px;
}

div.right.bigpadding div.command_select div.rightlist select {
    width: 240px;
    height: 23px;
}

div.right.bigpadding div.command_select div.rightlist textarea {
    width: 430px;
    height: 50px;
}

div.rightlist textarea.resizable {
    resize: both;
}

table.tablesorter.list-users th.th1 {
    width: 150px;
}

table.tablesorter.list-users th.th2 {
    width: 100px;
}

table.tablesorter.list-users th.th3 {
    width: 200px;
}

table.tablesorter.list-users th.th4 {
    width: 50px;
}

div.admin-role {
    padding-right: 10px;
}

article a.right_floated {
    float: right;
}

/* TODO think, how to do it more beautiful */
ul.ui-autocomplete {
    z-index: 999 !important;
}

table.dataTable {
    margin: 10px 0 15px;
}

table.tablesorter tr.search th {
    background: none repeat scroll 0 0 #DCECFA;
    padding: 0 17px 0 5px;
}

table.tablesorter tr.search th input[type="text"] {
    border: 1px solid #CDCDCD;
    border-radius: 4px 4px 4px 4px;
    font-family: Tahoma,Geneva,Helvetica,sans-serif;
    font-size: 12px;
    height: 16px;
    padding: 5px;
    width: 100%;

    margin-top: 2px;
}

div.toolbar {
}

div.toolbar a.button {
    float: left;
}

div.toolbar div.legend {
    float: left;
    margin-left: 50px;
    padding: 4px 0 6px;
}

table.dataTable tr td.rights span.group,
div.toolbar div.legend.rights span.group {
    background: image-url('group16.png') no-repeat 0 0 transparent;
}

table.dataTable tr td.rights span.user,
div.toolbar div.legend.rights span.user {
    background: image-url('user16.png') no-repeat 0 0 transparent;
}

table.dataTable tr td.rights span.group_owner,
div.toolbar div.legend.rights span.group_owner {
    background: image-url('group16g.png') no-repeat 0 0 transparent;
}

table.dataTable tr td.rights span.user_owner,
div.toolbar div.legend.rights span.user_owner {
    background: image-url('user16g.png') no-repeat 0 0 transparent;
}

table.dataTable tr td.rights span.group_owner,
div.toolbar div.legend.rights span.group_owner,
table.dataTable tr td.rights span.user_owner,
div.toolbar div.legend.rights span.user_owner,
table.dataTable tr td.rights span.group,
div.toolbar div.legend.rights span.group,
table.dataTable tr td.rights span.user,
div.toolbar div.legend.rights span.user {
    padding-left: 20px;
}

div.toolbar div.legend.rights span.group_owner,
div.toolbar div.legend.rights span.user_owner,
div.toolbar div.legend.rights span.group,
div.toolbar div.legend.rights span.user {
    margin: 0 10px;
}

.root {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

div.tos {
}

div.tos p {
    margin: 5px 0;
}

div.tos ol li {
    margin: 3px 0;
}

div.tos_sidebar ul {
    list-style: none outside none;
    margin: 20px 0 0;
    padding: 0;
    text-align: left;
    width: 215px;
}

div.tos_sidebar ul li {
    padding-bottom: 5px;
    padding-top: 5px;
    width: 215px;
}

div.tos_sidebar ul li:hover {
    background: none repeat scroll 0 0 #DCECFA;
}

div.tos_sidebar ul li a {
    color: #292929;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    text-decoration: none;
}

table.tablesorter tbody tr.regular td {
    background-color: #FFFFFF;
}

table.tablesorter tbody tr.removed td,
table.tablesorter tbody tr.sync_error td {
    background-color: #FFECEC;
}

table.tablesorter tbody tr.sync_success td {
    background-color: #E0ECFF;
}

ul.ui-autocomplete li.item {
/*    padding: 1px 0; */
}

ul.ui-autocomplete li.item div.collaborator {
    padding: 0px 10px;
}

ul.ui-autocomplete li.item a.ui-corner-all {
    padding: 0;
}

ul.ui-autocomplete li.item a.ui-corner-all.ui-state-hover {
    background: #DCECFA;
    border: 1px solid #65A6F7;
}

ul.ui-autocomplete li.item div.collaborator div.img {
    padding: 0;
    padding-top: 1px;
}
ul.ui-autocomplete li.item div.collaborator div.name {
    padding: 0;
    margin-left: 5px;
}

ul.ui-autocomplete.has_results {
    overflow: auto;
}

#add_collaborator_form div.admin-search.withimage {
    width: 301px;
}

#add_collaborator_form div.search_string {
    margin-left: 5px;
    float: left;
    padding-top: 6px;
}
#add_collaborator_form div.img {
    width: 25px;
    height: 25px;
}

#add_collaborator_form div.img img {
}

#add_collaborator_form .admin-role .lineForm {
    padding-top: 7px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #CFCFCF;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #CFCFCF;
}

input.placeholder,
textarea.placeholder {
    color: #CFCFCF;
}

div.description-top div.git_help {
  float: left;
  margin-top: 11px;
  margin-left: 10px;
  font-size: 11px;
  color: green;
  cursor: pointer;
}

div#git_help_data {
  display: none;
  padding-left: 10px;
}

div#git_help_data p {
  padding-bottom: 5px;
}

// for bootstrap
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.modal {
  margin: -150px 0 0 -280px;
}

#forkModal.modal .btn.btn-primary {
  width: 100%;
}

.center {
  text-align: center;
}

.zip {
  float: left;
  padding-left: 5px;
  margin-top: 6px;
  list-style: none;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #DCECFA;
}

.dropdown-menu {
    min-width: 0;
}

.dropdown.open .dropdown-toggle {
    background: none repeat scroll 0 0;
}

.rightlist p {
    padding-bottom: 1em;
}

.leftlist span.hint {
    padding-top: 1em;
    display: block;
    font-size: 0.9em;
}

.atom_icon {
  vertical-align: top;
}

.tab-content.pull_diff_fix {
  display: block;
}

table.diff {
  font-size: 12px;
}

/* Mass build forms */
form.mass_build input[type="checkbox"] {
  width: 10px;
  height: 11px;
}

div#new_advisory_form,
div#advisory_preview,
div#advisory_search_block,
div#advisory_search_block div.info {
    display: none;
}

div#advisory_search_block {
    padding-bottom: 15px;
}

p.hint_text {
    color: #666666;
    font-size: 0.9em;
    padding: 0;
}

div#advisory_block p.hint_text {
    display: block;
    width: 350px;
}

div#advisory_search_block div.info {
    width: 565px;
    border: solid 1px;
    border-radius: 5px;
}

div#advisory_search_block div.info p {
    text-align: center;
    margin: 0.5em 2em 0.7em;
}

div#advisory_search_block div.advisory_not_found {
    background-color: #B7CFFF;
    border-color: #6666FF;
}

div#advisory_search_block div.server_error {
    background-color: #FACFCF;
    border-color: #FF7777;
}

div#advisory_search_block div.continue_input {
    background-color: #CFFACF;
    border-color: #00CF00;
    display: block;
}

/*=============== popovers ===============*/

.popover {
    display: none;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 1010;
}

.popover.top {
    margin-top: -5px;
}

.popover.right {
    margin-left: 5px;
}

.popover.bottom {
    margin-top: 5px;
}

.popover.left {
    margin-left: -5px;
}

.popover.top .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000000;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

.popover.right .arrow {
    border-bottom: 5px solid transparent;
    border-right: 5px solid #000000;
    border-top: 5px solid transparent;
    left: 0;
    margin-top: -5px;
    top: 50%;
}

.popover.bottom .arrow {
    border-bottom: 5px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 50%;
    margin-left: -5px;
    top: 0;
}

.popover.left .arrow {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000000;
    border-top: 5px solid transparent;
    margin-top: -5px;
    right: 0;
    top: 50%;
}

.popover .arrow {
    height: 0;
    position: absolute;
    width: 0;
}

.popover-inner {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 3px;
    width: 280px;
    text-align: justify;
}

.popover-title {
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEEEEE;
    border-radius: 3px 3px 0 0;
    line-height: 1;
    padding: 9px 15px;
    margin: 0;
}

.popover-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-radius: 0 0 3px 3px;
    padding: 14px;
    font-size: 13px;
}

.popover-content p, .popover-content ul, .popover-content ol {
    margin-bottom: 0;
    margin: 0;
}

.fade {
    -moz-transition: opacity 0.15s linear 0s;
    opacity: 0;
}

.fade.in {
    opacity: 1;
}
/*=============== popovers end ===============*/

.bottom_20 {
  margin-bottom: 20px;
}

form.mass_build section.left {
  margin-left: 50px;
}

form.mass_build section.right {
  margin-right: 50px;
}

.toggle {
  overflow: hidden;
  padding-top: 10px;
  display: block;
  visibility: hidden;
}

.min_width_120 {
  min-width: 120px;
}

.chzn-select {
    width: 350px;
}

.packages_info_container ul {
    list-style-type: none;
    padding-left: 25px;
    margin: 5px 0;
}

.packages_info_container ul.platforms {
    padding: 0;
}

/* remove this lines after change to backbone */
table.tablesorter.static-search thead tr.search th {
    padding: 0 5px;
}

table.tablesorter.static-search thead tr.search th input[type='text'] {
    width: 640px;
}

table.tablesorter.static-search thead tr.search th form {
    float: left;
}

table.tablesorter.static-search thead tr.search th form.button_to {
    padding: 3px 0 0 7px;
}

table.tablesorter tr td.no_results {
    text-align: center;
}
/* end */

article div.all {
    width: 860px;
}

div.inner-columns {
    width: 100%;
    height: auto;
    display: block;
}

div.inner-columns:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

div.inner-columns.equal section {
    width: 430px;
    float: left;
}

section.first div {
    width: 415px;
}

form.inline_errors span.error {
    display: inline-block;
    color: #FF5050;
}

div.form-actions {
    text-align: right;
    padding-bottom: 5px;
}

div.form-actions .button {
    margin-right: 50px;
}

dl.form, div.form-actions {
    margin: 15px 0;
}

dl.form > dt {
    margin: 0 0 6px;
}

dl.form > dt label {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

dl.form > dd {
    margin: 0;
    padding: 0;
    border: 0, none;
}

dl.form > dd > input[type="text"],
dl.form > dd > input[type="password"],
dl.form > dd > textarea {
  width: 350px;
  border: 1px solid #A0A0A0;
  border-radius: 4px;
  padding: 5px;
  font-family: Tahoma, Geneva, Helvetica, sans-serif;
  font-size: 12px;
}

dl.form > dd > input.error[type="text"],
dl.form > dd > input.error[type="password"],
dl.form > dd > textarea.error {
    border-color: #FF8080;
}

dl.form > dd > input[type="text"],
dl.form > dd > input[type="password"] {
  height: 16px;
}

dl.form > dd > textarea {
  height: 110px;
}

ul.checklist {
    font-size: 12px;
    font-weight: bold;
    margin: 20px 0;
    padding: 0;
}

ul.checklist li {
    background: image-url("check.png") no-repeat scroll 0 2px transparent;
    list-style-type: none;
    margin: 15px 0;
    padding-left: 25px;
}

div.all.feedback_sended {
    background: image-url("feedback.png") no-repeat scroll 49% 0 transparent;
    height: 500px;
    text-align: center;
}

article div.all.feedback_sended h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 165px 0 0;
    padding: 0;
}

article div.all.feedback_sended h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0 0;
    padding: 0;
}
article div.all.feedback_sended p.pages {
    margin-top: 70px;
    width: 280px;
}

article div.all.feedback_sended p.search {
    margin-top: 80px;
    width: 230px;
}

article div.all.feedback_sended p {
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

hr.bootstrap {
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.fork-modal {
  top: 45%;
}

.modal-body-fork {
  max-height: 280px;
}

.label-bootstrap.label-info.font14 a {
  color: #FFFFFF;
}

.line_numbers a {
  color: #999999;
}

/* Flash Notifies */

.flash_notify {
  .alert-success {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
  }

  .alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #C09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .alert-danger, .alert-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
  }

  .alert-info {
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
  }

  .alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
  }

  button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }

  .close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
}

div.reloader {
    float: right;
}

div.log-wrapper {
    width: 565px;

    div.log-header {
        margin-bottom: 10px;

        div.text-wrap, span {
            height: 16px;
            margin: 0;
            padding: 0;
        }
        div.text-wrap {
            width: 545px;
            float: left;

            h3 {
                margin: 0;
            }
        }

        span {
            background: image-url("trigger.gif") no-repeat scroll left bottom transparent;
            margin: 1px;
            cursor: pointer;
            display: block;
            font-size: 0;
            height: 14px;
            width: 14px;
            float: right;
        }
        span.closed {
            background-position: left top;
        }
    }

    div.log-body {

        div.reloader, .log {
            border: 1px solid #ccc;
        }

        div.reloader {
            padding: 5px 10px;
            border-bottom: none;
            border-radius: 5px 5px 0 0;

            table.options {
                border-spacing: 5px 0;

                tr {

                    td a {
                        display: inline-block;
                        height: 13px;
                        padding-left: 16px;
                        background: image-url('code.png') no-repeat;
                        padding-bottom: 2px;
                        margin: 2px 0 0 1px;
                    }
                    td.first {
                        padding-right: 5px;
                    }
                    td.last {
                        border-left: 1px solid #ccc;
                    }
                }

                tr.bottom {
                    td {
                        padding-left: 5px;
                    }
                    td.first {
                        border-top: 1px solid #ccc;
                    }
                }
            }
        }

        .log {
            background: #f8f8f8;
            height: 500px;
            width: 543px;
            min-width: 543px;
            border-radius: 5px 0 5px 5px;
            overflow: auto;
            padding: 10px;
            margin: 0;
            font-family: monospace;
            font-size: 13px;
        }
    }
}

table.tablesorter.platform-maintainers.static-search thead tr.search th input[type="text"] {
    width: 430px;
}

.all_platforms {
    > .both { margin: 0 0 5px; }
    .build_for_pl { font-weight: bold; }
    .offset25 { padding-left: 10px }
}

.md_and_cm {
  overflow: auto;
  margin: 10px 0 10px;
  padding: 5px;
  border-radius: 4px 4px 4px 4px;
  background: #FFF;

  pre {
    background-color: #F8F8F8;
    border: 1px solid #D6D6D6;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    padding: 6px 10px;
    overflow: auto;

    code {
      background-color: transparent;
      border: none;
    }
  }

  code {
    background-color: #F8F8F8;
    border: 1px solid #D6D6D6;
    border-radius: 5px 5px 5px 5px;
    margin: 0 2px;
    padding: 0px 5px;
  }

  blockquote {
    border-left: 4px solid #EDEDED;
    padding: 0 15px;
  }

  p {
    margin-top: 10px;

  }
}

.md_and_cm > :first-child {
  margin-top: 0 !important;
}

#md_tabs {
  margin: 0;
}

#md_tabs.nav-tabs > li > a {
  line-height: 5px;
}

#open-comment {
  textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 4px 4px 4px 4px;
    color: #575756;
    font-size: 12px;
    height: 110px;
    padding: 5px;
    width: 98%;
    max-width: 98%;
    margin: 10px 0 10px;
    resize: vertical;
  }

  textarea#issue_title {
    height: 16px;
    margin: 0 0 10px;
  }

  .tab-pane textarea {
    min-height: 112px;
  }

  .edit_comment .comment-left {
    margin-top: 0;
  }
}

#open-comment > h3.tmargin0 {
  margin-bottom: 0;
}

#md_help {
  width: 800px;
  top: 30%;
  left: 42%;

  .modal-body {
    max-height: 560px;
    padding-top: 0;
  }

  .modal-header {
    padding-bottom: 0;
  }

  .col {
    width: 245px;
    float: left;
    padding: 0;
    margin-right: 10px;

    h3 {
      margin: 6px 0 0 0;
    }

    pre {
      background: none repeat scroll 0 0 #EDEDED;
      box-shadow: 0 3px 3px -1px rgba(18, 86, 135, 0.2);
      border: 1px solid #EDEDED;
      padding: 5px;
      margin-top: 3px;
    }
  }
}

#repo-wrapper .edit_form.issue div.comment div.wrapper {
  background: 0;
  border: 0;
  border-radius: 0;
  height: 30px;
  margin: 0;
  padding: 0;
}

