ul.commits {

}

li.commit {

}

li.commit table tr td {
    vertical-align: top;
    padding-top: 5px;
}

li.commit .committers {
    width: 175px;
    border-right: 1px solid #E2E2E2;
}

li.commit .committers .author {

}

li.commit .committers .committer {
    margin-top: 5px;
    color: #999999;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
}

li.commit .message {
    padding-left: 5px;
    border-right: 1px solid #E2E2E2;
    width: 575px;
}

li.commit .trees {
    padding-left: 5px;
    width: 200px;
}

li.commit .message a {
    text-decoration: none;
}

li.commit .message p {
    margin: 0;
}

li.commit .message a:hover {
    text-decoration: underline;
}

li.commit .trees div {
    margin-bottom: 3px;
}

table.git_tree .icon {
    padding-left: 10px !important;
    padding-right: 0px !important;
    width: 16px;
}

table.git_tree tree_element a {
    text-decoration: none;
}

table.git_tree ree_element a:hover {
    text-decoration: underline;
}

table.git_tree .icon img {
    top: 1px;
    position: relative;
}

table.blob {
    line-height: 1.4em;
    font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
}

table.blob td {
    padding: 0 !important;
}

table.blob td.lines {
    width: auto;
    vertical-align: top;
}

table.blob td.lines pre {
    text-align: right;
    background-color: #ECECEC;
    border-right: 1px solid #DDDDDD;
    color: #AAAAAA;
    padding: 10px;
}

table.blob td.blob {
    vertical-align: top;
}

table.blob td.blob pre {
    padding: 10px;
}

.blob_header {
    background-color: #EAEAEA;
    border-bottom: 1px solid #DDDDDD;
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 1.2em;
    padding: 5px;
    margin-top: 20px;
}

.blob_header .size {
    margin-left: 15px;
    float: left;
}

.blob_header .buttons {
    float: right;
    margin-right: 15px;
}

table.commit_stats {
    width: 100%;
    margin-top: 12px;
    line-height: 1.4em;
}

table.commit_stats tr {
    padding: 5px;
}

.diff_data {
    overflow-x: auto;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
}

table.diff {
    line-height: 1.4em;
    font-size: 1.2em;
    font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    width: 100%;
}

table.diff tr td.line_numbers {
    background-color: #ECECEC;
    border-right: 1px solid #DDDDDD;
    color: #AAAAAA;
    padding: 0 0.5em;
    text-align: right;
}

table.diff tr td.header {
    line-height: 1.4em;
    font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
    width: 100%;
    background-color: #ECECEC;
    color: #AAAAAA;
    padding-left: 10px;
}

table.diff tr td.code {
    width: 100%;
    padding-left: 10px;
}

table.diff tr td.code.del {
    background-color: #FFDDDD;
}

table.diff tr td.code.del .idiff {
    background-color: #F2ACAD;
}

table.diff tr td.code.ins {
    background-color: #DDFFDD;
}

table.diff tr td.code.ins .idiff {
    background-color: #BAFBAD;
}

table.diff .diff-content {
}

.patch_and_diff {
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}

.blame_data {
    overflow-x: auto;
    border-right: 1px solid #EAEAEA;
}

table.blame {
    line-height: 1.4em;
    font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
    border-left: 1px solid #EAEAEA;
    /*border-right: 1px solid #EAEAEA;*/
    width: 100%;
}

table.blame td {
    padding: 0 !important;
}

table.blame td.lines {
    width: auto;
    text-align: right;
    background-color: #ECECEC;
    border-right: 1px solid #DDDDDD;
    color: #AAAAAA;
    padding: 10px;
}

table.blame td.code {
    width: auto;
}

table.blame td.code pre {
    margin-left: 10px;
}

table.blame td.message {
    width: auto;
    padding: 10px;
}

table.blame td.message .commit {
    margin: 10px;
    width: 430px;
}

table.blame td.message .message {
    margin-bottom: 10px;
    margin-left: 10px;
    width: 430px;
}

#git_submenu {
    margin: 0;
	padding: 0;
	z-index: 30;
}

#git_submenu li a:hover {
    background: #FFF;
}

#git_submenu div {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CCCCCC;
    display: none;
    max-height: 275px;
    overflow: auto;
    position: absolute;
    z-index: 4;
}

#git_submenu div span {
    padding: 10px 15px;
    display: block;
    background: #ECECEC;
}


#git_submenu div a:hover {
    background: #ECECEC;
    color: #000;
}
