%table#myTable.tablesorter.platform-products{cellspacing: "0", cellpadding: "0"}
  %thead
    %tr
      %th.th1= t("activerecord.attributes.product.name")
      %th= t("layout.delete")
  %tbody
    - @products.each do |product|
      %tr{class: cycle("odd", "even")}
        %td
          = link_to product.name, platform_product_path(@platform, product)
        %td.buttons
          - if can? :destroy, product
            = link_to platform_product_path(@platform, product), method: :delete, data: { confirm: t("layout.products.confirm_delete") } do
              %span.delete &nbsp;
