:markdown

  __Возможность подключить для сборки пакеты из сборочных заданий как дополнительные источники пакетов.__
  <br/>

  Требования для подключаемых сборочных заданий:

    - можно подключить только задание с контейнером;
    - для основных платформ возможно подключить только задания, которые предназначены для этой же платформы;
    - будут подключены только задания с архитектурой, соотвествующей создаваемой, или предназначенные для обеих архитектур (если установлено соответствующее свойство в настройках rhel-проекта).

  _Пример: для x86_64 архитектуры будут подключены только сборочные задания, собранные для x86_64._