:markdown

  __Возможность подключить для сборки репозитории платформ как дополнительные источники пакетов.__
  <br/>

  Требования для репозиториев:

    - использовать репозитории из других персональных платформ возможно только для сборки в персональную платформу.

  Как подключить репозиторий:

    - добавьте имя платформы, затем из списка выберете репозиторий для поключения и нажмите кнопку "Добавить".

  _Пример: правильно ввести "uxteam_personal", неправильно: "uxteam_personal/main"._