:markdown

  __Ability to attach at assembly repositories of platforms as additional sources of packages.__
  <br/>

  Requirements for attaching repositories:

    - attaching repositories from other platform available only for build list into the personal platform.

  How to attach a repository:

    - write the name of platform, choose repository from the list for attaching and click to "Add" button.

  _Example: correct input "uxteam_personal", wrong - "uxteam_personal/main"._