- Repository.custom_sort(platform.repositories).each do |repo|
  .both
    = check_box_tag "build_list[include_repos][]", repo.id,
        (params[:build_list].try(:fetch, :include_repos) || []).include?(repo.id.to_s) || (repo.name == 'main' || @project.repositories.map(&:id).include?(repo.id)),
        :id => "include_repos_#{repo.id}", :rep_name => repo.name
    = label_tag "include_repos_#{repo.id}", repo.name
