- build_for_platform = params[:build_list].try :[], :build_for_platform
- Repository.custom_sort(platform.repositories).each do |repo|
  - if params[:build_list].try(:[], :include_repos).present?
    - checked = (params[:build_list].try(:[], :include_repos).map(&:to_s) || []).include?(repo.id.to_s)
  - else checked = false
  .checkbox
    %label
      = check_box_tag 'build_list[include_repos][]', repo.id, checked,
        disabled: ((build_for_platform != platform) && build_for_platform.try(:main?)),
        id: "include_repos_#{repo.id}", rep_name: repo.name
      = repo.name
