- Repository.custom_sort(platform.repositories).each do |repo|
  .both
    - if params[:build_list].try(:[], :include_repos).present?
      - checked = (params[:build_list].try(:[], :include_repos) || []).include?(repo.id)
    - else checked = false
    = check_box_tag 'build_list[include_repos][]', repo.id, checked,
      :disabled => params[:build_list].try(:[], :build_for_platform_id).to_i != platform.id,
      :id => "include_repos_#{repo.id}", :rep_name => repo.name
    = label_tag "include_repos_#{repo.id}", repo.name
