= form_for [build_list.project, build_list.project.build_lists.new], html: { class: :form, method: :post } do |f|
  = hidden_field_tag :build_list_id, build_list.id
  = f.hidden_field :project_id
  = f.submit t('layout.build_lists.recreate_build_list'), data: {'disable-with' => t('layout.processing')}
.both