%a{ :name => "comments" }
.hr
%h3#block-list= t("layout.comments.comments_header")
- counter = 1
- list.each do |comment|
  -if comment.automatic
    - GitPresenters::CommitAsMessagePresenter.present(nil, :comment => comment) do |presenter|
      = render 'shared/feed_message', :presenter => presenter, :item_no => counter
      - counter += 1
  -else
    = render 'projects/comments/comment', :comment => comment, :data => {:project => project, :commentable => commentable}
= render "projects/comments/markdown_help"
