.modal.fade{ id: 'md_help', tabindex: '-1', role: 'dialog',
             'aria-labelledby' => 'md_helpLabel', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ class: 'close', type: 'button', 'data-dismiss' => 'modal' }
          %span{ 'aria-hidden' => 'true' } &times;
          %span.sr-only Close
        %h4.modal-title#md_help= t('layout.comments.md_cheatsheet_header')
      .modal-body
        = render 'projects/comments/markdown_help_body'

