// PUT custom styles here ONLY

a#manage-labels {
  margin-bottom: 10px;
}
article a.edit_label {
  color: #FFF;
}

header div.information div.user {
    float: left;
    margin-left: 5px;
}

header div.user div.avatar {
    padding: 6px 10px 10px 10px;
}

header menu ul li a {
    padding: 15px 8px 15px 8px;
}
