// PUT custom styles here ONLY
header div.information div.user {
    float: left;
    margin-left: 5px;
}

header div.user div.avatar {
    padding: 6px 10px 10px 10px;
}

header menu ul li a {
    padding: 15px 8px 15px 8px;
}

div#gollum-searchbar-fauxtext {
    padding-left: 10px;
}

div#gollum-searchbar-fauxtext input#search-query {
    display: inline-block;
    float: left;
    width: 145px;
    border: 1px solid #D3D3D3;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
    height: 24px;
    margin: 0;
    padding: 0 4px;
    vertical-align: middle;
    white-space: nowrap;
}

a#search-submit {
    -moz-box-sizing: content-box;
    border-left: medium none;
    border-radius: 0 3px 3px 0;
    height: 24px;
    margin-left: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    float: left;
}

a#search-submit span {
    background: image-url("gollum/icon-sprite.png") no-repeat scroll 50% 4px transparent;
    background-position: -430px -2px;
    height: 24px;
    text-indent: -9999px;
    width: 16px;
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 0 9px 0 7px;
}

a#search-submit:hover span {
    background-position: -430px -29px;
}
