@import 'devise/login';

nav a { text-decoration: none;}

article {
  height: auto;
  width: 270px;
  padding-bottom: 10px;

  a {
    text-decoration: none;
  }
  .facebook {
    margin-right: -4px;
  }
}