/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree ./views
*/

$navbar-height:                    37px;
$navbar-border-radius:             0px;
$nav-link-padding:                 10px 8px;

$top-menu-height:                          52px;
$top-menu-padding-vertical:                (($top-menu-height - 20) / 2);

$navbar-inverse-color:                     #777;
$navbar-inverse-bg:                        #3E73A2;
$navbar-inverse-border:                    darken($navbar-inverse-bg, 6.5%);

$navbar-inverse-link-color:                #FFF;
$navbar-inverse-link-hover-color:          #CEE7FF;
$navbar-inverse-link-active-color:         #FFF;
$navbar-inverse-link-active-bg:            darken($navbar-inverse-bg, 6.5%);
$navbar-inverse-link-disabled-color:       #ccc;

$navbar-inverse-brand-color:               $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:         darken($navbar-inverse-brand-color, 10%);

$navbar-inverse-toggle-hover-bg:           #ddd;
$navbar-inverse-toggle-icon-bar-bg:        #888;
$navbar-inverse-toggle-border-color:       #ddd;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom_bootstrap";
@import "timeline";
@import "font-awesome";
@import "loading-bar";
@import "pygments";
