@import "devise/registration";

nav {
  width: 96px;
  height: 47px;
  background: image-url("registration.png") no-repeat;
  float: right;
  cursor: pointer;
  a {
    font-size: 14px;
    color: #FFF;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-decoration: none;} }

div.error.forgot {
  margin-top: 8px;
  margin-left: 308px; }

div.error.reset {
  margin-top: -141px;
  margin-left: 645px; }

article {
  height: auto;
  padding-bottom: 10px;
  .hr {
    margin-top: 10px;
    border-bottom: 1px solid #264862;
    border-top: 1px solid #264862;
    height: 1px;
  }
  a {
    text-decoration: none;
  }
  .facebook {
    margin-right: -4px;
  }
  .other {
    .left {
      margin-top: 6px;
    }
    .right {
      margin-top: 13px;
    }
  }
}