html, body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, Helvetica, sans-serif;
  color: #292929;
  background: #1f60a1 image-url("bg.png") repeat-x;
  min-width: 940px;
  min-height: 600px;
  text-align: center;
  height: 100%;
}

header, section, footer, aside, nav, article, menu {
  display: block;
}

input[type="text"]:focus { outline: none; }

input[type="password"]:focus { outline: none; }

input:focus { outline: none; }

select:focus { outline: none; }

a img { border: none; }

.wrap {
  width: 940px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #3f668c;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  background: #FFF;
  min-height: 92%;
}



.both {
  clear: both;
}

/* Top menu */

header {
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1000;
}

header div.left {
  background: image-url("top-left-tour.png");
  height: 46px;
  width: 14px;
  float: left;
}

header div.middle {
  background: image-url("top-middle.png");
  float: left;
  height: 46px;
  width: 912px;
}

header div.right {
  background: image-url("top-right-tour.png");
  height: 46px;
  width: 14px;
  float: right;
}

/* Left part of top menu*/

header menu {
  float: left;
  margin: 0;
  padding: 0;
}

header menu ul {
  list-style: none;
  margin: 0;
  padding-top: 10px;
}

header menu ul li {
  display: inline;
}

header menu ul li a {
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
  height: 43px;
  padding: 15px 10px 15px 10px;
}

header menu ul li a:hover {
  color: #cee7ff;
}

header menu ul li a.first {

}

header menu ul li a.active {
  background: image-url("menu-hover.png") repeat-x;
}



header div.logo {
  float: left;
  margin-top: 5px;
  padding-left: 0px;
  padding-right: 0px;

}

/* Right part of top menu */

header div.information {
  float: right;
}

header div.search {
  float: left;
  margin: 10px 0px 0px 0px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background: #FFF;
  border: 1px solid #7691aa;
}

header div.search div.pic {
  background: image-url("search-button.png");
  height: 22px;
  width: 24px;
  float: left;
}

header div.search div.field {
  float: left;
  margin: -1px 0px 0px 0px;
}

header div.search div.field input {
  border: none;
  height: 18px;
  background: none;
  width: 132px;
  font-size: 12px;
  font-family: Arial;
  padding: 2px 0px 0px 0px;
}

header div.search div.field input.gray {
  color: #cfcfcf;
}

header div.search div.field input.black {
  color: #333333;
}

header div.avatar {
  float:left;
  padding: 6px 10px 10px 10px;

}

header div.information div.active {
  background: image-url("menu-hover.png") repeat-x;
}

header div.information div.user {
  float: left;
  margin-left: 14px;
}

header div.profile {
  float: left;
  text-align: right;
  color: #FFF;
  font-size: 12px;
  padding-top: 12px;
}

header div.profile a {
  color: #FFF;
  text-decoration: none;
  padding-right: 10px;
}

header div.profile a:hover {
  text-decoration: underline;
}


header div.droplist-wrap {
  margin: -4px 0px 0px 0px;
  width: 151px;
  float: right;
}

header div.droplist {
  background: image-url("bg-droplist.png") repeat-x;
  height: 91px;
  width: 151px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 0px;
  border-radius: 0px 0px 4px 4px;
  display: none;
  text-align: right;
  z-index: 9999;
}

header div.droplist-wrap div.a {
  margin-top: 5px;
}

header div.droplist a{
  position: relative;
  padding-left: 15px;
  font-size: 12px;
  color: #447cae;
  text-decoration: none;
  padding-right: 15px;
  margin-top: 10px;
}

header div.droplist a:hover{
  text-decoration: underline;
}


/* Submenu */

.sub-menu {
  height: 38px;
  margin: -7px 0px 0px 0px;
  padding: 0px 0px 0px 15px;
  background: #ededed;
  position: relative;
  z-index: 100;
  border-bottom: 1px solid #FFF;
  -webkit-box-shadow: 0px 5px 3px -3px rgba(18, 86, 135, 0.2);
  -moz-box-shadow: 0px 5px 3px -3px rgba(18, 86, 135, 0.2);
  box-shadow: 0px 5px 3px -3px rgba(18, 86, 135, 0.2);
}

.sub-menu div.left {
  float: left;
  width: 200px;
  border-right: 1px solid #dcdcdc;
  font-size: 12px;
  text-align: left;
  font-weight: 700;
  padding: 10px 0px 0px 0px;
  height: 21px;
}

.sub-menu div.right {
  float: left;
}


.sub-menu nav {
  float: left;
  margin: 0px 0px 0px 0px;
}

.sub-menu nav ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-top: 4px;
}

.sub-menu nav ul li {
  display: inline;
}

.sub-menu nav ul li a {
  font-size: 12px;
  color: #292929;
  text-decoration: none;
  height: 34px;
  padding: 0px 20px 9px 20px;
}

.sub-menu nav ul li a.active {
  background: image-url("submenu-hover.png") repeat-x scroll 0 100% transparent;
}

.sub-menu nav ul li a:hover {
  color: #2b6daf;
}

/* Page markup */

article {
  font-size: 12px;
}

article a{
  color: #447cae;
  font-size: 12px;
  text-decoration: none;
  padding: 0px 0px;
}

article a:hover{
  text-decoration: underline;
}



/* Footer */

footer {
  height: 32px;
  padding-left: 15px;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  color: #FFF;
  padding-top: 10px;
  text-align: left;
}

footer ul li {
  display: inline;
}

footer ul li a {
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}



/*TOUR*/

header.top {
  position: relative;
  z-index: 3;
  background: none;
  background: image-url("tour-top.png") no-repeat 0 0;
}

header.tour {
  height: 194px;
  position: relative;
  z-index: 2;
}

div.sub-menu.tour {
  padding: 10px 0 0 0;
  height: 35px;
  text-align: center;
  position: relative;
  z-index: 1;
}

div.sub-menu.tour nav {
  float: none;
}

div.sub-menu.tour nav ul {
  text-align: center;
}

div.sub-menu.tour nav li a {
  font-size: 18px;
  color: #575756;
}

article div.feature-wrap {
  background: image-url("tour-bg.png") repeat-x 0 100%;
  text-align: center;
  margin-top: 20px;
}

article div.feature {
  width: 744px;
  text-align: center;
  margin: 0 auto;
}

article div.feature div {
  width: 362px;
  text-align: left;
}

article div.feature div img{
  padding-bottom: 50px;
}

article div.feature div h1 {
  font-size: 24px;
  color: #7eb7ed;
  margin: -4px 0 10px 0;
  padding: 0;
}

article div.feature div p {
  font-size: 12px;
  color: #58595b;
  padding-bottom: 50px;
}

article div.feature div.left {
  float: left;
}

article div.feature div.right {
  float: right;
  padding: 0;
}

article div.tour-gap {
  height: 330px;
  width: 10px;
}

@import "pirobox";

/* Custom */
header menu ul li a {
    padding: 15px 8px 15px 8px;
}

@import "design/common";

