%p
  Здравствуйте, #{@resource.email}!
%p Вы можете подтвердить свой аккаунт, перейдя по ссылке снизу:
%p= link_to 'Подтвердить мой аккаунт', confirmation_url(@resource, confirmation_token: @token)
%br
%p== Команда поддержки «ROSA ABF»
