%p
  Здравствуйте, #{@resource.email}!
%p Кто-то запросил смену Вашего пароля. Чтобы сменить пароль, перейдите по ссылке снизу.
%p= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @rtoken)
%p Пожалуйста, проигнорируйте это письмо, если оно попало к Вам по ошибке.
%p Ваш пароль не поменяется, пока вы не перейдете по ссылке и не создадите новый.
%br
%p== Команда поддержки «ROSA ABF»
