%p
  Здравствуйте, #{@resource.email}!
%p Ваш аккаунт был заблокирован из-за слишком большого количества неудачных попыток авторизации.
%p Пожалуйста, перейдите по ссылке ниже, чтобы разблокировать Ваш аккаунт:
%p= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @resource.unlock_token)
%br
%p== Команда поддержки «ROSA ABF»
