-current_color ||= '0054a6'
.colors
  - ['0054a6', '00a651', 'ed1c24', 'e65c00', '9e005d', '464646', '8c6239'].each do |color|
    .color{style: "background: ##{color};"}
      #choose1.choose{value: color, class: current_color == color ? 'selected' : ''}
  .both
