.activity
  .top
    .image
      =image_tag(avatar_url(@issue.user, :medium), :alt => 'avatar') if @issue.user
    .text
      .created
        %span.date=@issue.created_at.to_s(:long)
        - if @issue.user
          %span.date=t("layout.by") 
          %span.name=link_to(@issue.user.fullname, user_path(@issue.user))
      %h3.issue_title=@issue.title
    .both
    .assigned
      - if @issue.assignee
        .image
          =image_tag(avatar_url(@issue.assignee, :micro), :alt => 'avatar')
        %span.name= link_to(@issue.assign_uname, user_path(@issue.assignee))
        %span= 'is assigned'
      - else
        %span= "No one is assigned"
      -if can?(:update, @issue) || @issue.new_record?
        %span.icon-share
        #assigned-popup
          .header
            .title= 'Assign someone to this issue'
            %span.icon-remove-circle
          =form_tag search_collaborators_project_issues_path(@project, :id => @issue.id), :id => 'search_user', :method => :get do
            =tracker_search_field(:search_user, t('layout.issues.search_user'))
          =form_for :issue, :url => [@project, @issue], :method => :put, :html => { :class => 'edit_assignee issue'} do |f|
            =hidden_field_tag "user-default_assignee", nil, :name => 'issue[assignee_id]'
          #manage_issue_users_list
            =render 'projects/issues/search_collaborators'
    .both
    .fulltext.view.issue_body.formatted.cm-s-default.md_and_cm=markdown @issue.body
.both
%br
- if can? :update, @issue
  =link_to t('layout.edit'), '#', :id => 'edit_issue_content', :class => 'button'
  =form_for :issue, :url => [@project, @issue], :method => :put, :html => { :class => 'edit_form issue', :style => 'display:none;' } do |f|
    =render 'projects/issues/title_body', :f => f, :id => 'update'
    =f.submit t('layout.update'), :id => 'update_issue_content'
    =link_to t('layout.issues.cancel_button'), '#', :id => 'cancel_edit_issue_content', :class => 'button'
%br
