-content_for :sidebar do
  - if current_user
    =form_tag project_issues_path(@project), id: 'filter_issues', method: :get do
      .bordered
        %table
          %tr
            %td.width18=radio_button_tag :myradio, 'all', !@is_assigned_to_me, {id: 'myradio1', class: 'niceRadio', name: 'filter'}
            %td.width135=t('layout.issues.all')
            %td.width30.right=@project.issues.without_pull_requests.not_closed_or_merged.count
          %tr
            %td=radio_button_tag :myradio, 'assigned', @is_assigned_to_me, {id: 'myradio1', class: 'niceRadio', name: 'filter'}
            %td=t('layout.issues.assigned')
            %td.width30.right=@project.issues.without_pull_requests.where(assignee_id: current_user.id).not_closed_or_merged.count
  =form_tag project_issues_path(@project), id: 'search_issue', class: 'ajax_search_form', method: :get do
    .bordered.bpadding20
      - search = params[:search_issue].present? ? params[:search_issue] : t('layout.issues.search')
      =tracker_search_field(:search_issue, search)
  - if can? :new, @project.issues.new
    .bordered.nopadding
      %h3.bmargin10=t('layout.issues.new')
      = link_to t("layout.add"), new_project_issue_path(@project), class: 'button'
  =render 'labels'
