#closed_issue_text
  - if @issue.status == 'closed' && @issue.closed_at && @issue.closed_by
    #closed-comment.comment-closed{:style => 'display: block;'}
      .state=t('layout.issues.status.closed')
      .text
        .avatar= image_tag(avatar_url(@issue.closer), :alt => 'avatar')
        .name="#{@issue.closer.fullname} #{t('layout.issues.at')} #{I18n.l(@issue.closed_at, :format => :long)}"
    .both
    %br/
