#open-comment.comment.view
  %h3.tmargin0{:style => 'margin-bottom: 0;'}= t 'activerecord.attributes.issue.title'
  .wrapper= f.text_area :title, :cols => 80, :rows => 1, :style => 'height: 16px; margin: 0 0 10px;'
#open-comment.comment.view
  =link_to t('layout.comments.md_cheatsheet_header'), '#md_help', 'data-toggle' => 'modal', :style => 'float:right;'
  %h3.tmargin0= t 'activerecord.attributes.issue.body'
  =render 'projects/comments/body', :f => f, :id => 'new'
.both
