-set_meta_tags title: [title_object(@project), t('layout.issues.create_header')]
-render 'submenu'
-render 'manage_sidebar'

%h3.bpadding10= t("layout.issues.create_header")
=render 'projects/issues/assigned_popup'
= form_for :issue, url: project_issues_path(@project), html: { class: 'form issue new' } do |f|
  = render "form", f: f
=hidden_field_tag :preview_url, project_md_preview_path(@project)
= render "projects/comments/markdown_help"