- content_for :sidebar do
  .bordered.nopadding
    %h3= t("layout.users.filter_header")
    %table
      - t('layout.users.users_filter').each_key do |base|
        %tr
          %td.width18=radio_button_tag :myradio, base, @filter.to_sym == base, {:id => 'users_filter', :class => 'niceRadio', :name => 'filter'}
          %td.width135=t("layout.users.users_filter.#{base}")
    .both
