- set_meta_tags title: [title_object(@platform), t('layout.key_pairs.header')]
= render 'platforms/base/submenu'
= render 'platforms/base/sidebar'

= render 'new' if can? :edit, @platform
= render 'list'
