:markdown

  __Возможность подключить для сборки пакеты из сборочных заданий как дополнительные источники пакетов.__
  <br/>

  Требования для подключемых сборочных заданий:

    - только задание с контейнером может быть подключен;
    - для основных платформ возможно подключить только задания, которые предназначены для этой же платформы;
    - будут подключены только задания с архитектурой, соотвествующей создаваемой, или предназначененные для обеих архитектур (установлено свойство Публиковать i686 пакеты в x86_64 репозиторий (только для rhel) в настройках проекта).

  _Пример: для x86_64 архитектуры будут подключены только сборочные задания, собранные для x86_64._