html, body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, Helvetica, sans-serif;
  color: #565667;
  background: #1f60a1 image-url("bg.png") repeat-x;
  min-width: 940px;
  min-height: 300px;
  text-align: center;
  height: 100%;
}

header, section, footer, aside, nav, article, menu {
  display: block;
}

input[type="text"]:focus { outline: none; }

input[type="password"]:focus { outline: none; }

input:focus { outline: none; }

select:focus { outline: none; }

a img { border: none; }

.wrap {
  width: 940px;
  margin: 0 auto;
  text-align: center;
  min-height: 95%;
}

.both {
  clear: both;
}

/* Header */

header div.logo {
  background: image-url("logo.png") no-repeat 50% 100%;
  height: 89px;
  width: 233px;
  margin: 0 auto;
  text-align: center;
  padding-top: 12%;
}

header div.text {
  color: #FFF;
  font-size: 28px;
  width: 800px;
  text-align: left;
  margin-left: 90px;
  margin-top: 50px;
  font-family: Arial;
  text-shadow: 0px 1px 1px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=1);
  padding-left: 0px;
}

.niceCheck {
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
  background: image-url("checkbox.png");
}
.niceCheck input {
  display: none;
}

/* Content */

article {
  width: 380px;
  height: 254px;
  background: #1c394c image-url("bg-signup.png") repeat-x;
  border-radius: 5px;
  border: 1px solid #38658c;
  margin: 0 auto;
  text-align: center;
  margin-top: 75px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

a.button, input.button {
  background: #125687;
    background: image-url("button-green-normal.png");
    border-radius: 3px;
    color: #FFF;
    font-family: Tahoma;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    padding: 5px 25px;
    text-align: center;
  border: none;
  height: 25px;
  width: 106px;
  text-decoration: none;
}

article div.left {
  float: left;
  font-size: 12px;
  color: #FFF;
  margin-left: 15px;
  margin-top: 16px;
}

article div.right {
  float: right;
  margin-right: 15px;
  padding-bottom: 2px;
}

.first {
  padding-top: 5px;
}

input.button {
  padding: 3px 27px 8px 27px;
  height: 25px;
  width: auto;
}

a.button:hover, input.button:hover {
    background: #1874b6;
    background: image-url("button-green-hover.png");
    cursor: pointer;
}

a.button:active, input.button:active{
    background: image-url("button-green-press.png");
}

a.button:disabled, a.button.disabled, input.button:disabled, input.button.disabled{
    background: #125687;
  background: image-url("button-green-disabled.png");
  cursor: default;
  }

article h1 {
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  font-family: Tahoma;
  margin-bottom: 5px;
}

.registartion-input, .registartion-input-focus, .registartion-input-error, .registartion-input-no-focus {
  height: 24px;
  width: 217px;
  border: 1px solid #8199a9;
  border-radius: 2px;
  color: #cfcfcf;
  font-family: Tahoma;
  font-size: 12px;
  padding-left: 10px;
  margin-top: 10px;
}

.registartion-input-focus, .registartion-input-focus-signup {
  color: #575756;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(126, 183, 237, 0.75);
  -moz-box-shadow: 0px 0px 7px 2px rgba(126, 183, 237, 0.75);
  box-shadow: 0px 0px 7px 2px rgba(126, 183, 237, 0.75);
}

.registartion-input-no-focus, .registartion-input-no-focus-signup {
  color: #575756;
}

.registartion-input-error, .registartion-input-error-signup {
  border: 1px solid #bd4d40;
  outline:1px solid #bd4d40;
  outline-offset:-2px;
}

div.in {
  float: right;
  margin-right: 15px;
  margin-top: 12px;
}

/* Footer */

footer {
  height: 32px;
  padding-left: 15px;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  color: #FFF;
  padding-top: 10px;
  text-align: center;
}

footer ul li {
  display: inline;
}

footer ul li a {
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

div.error {
  width: auto;
  height: auto;
  font-size: 12px;
  position: absolute;
  margin-top: -159px;
  margin-left: 582px;
  display: none;
  text-align: left;
}

div.error div.img {
  background: image-url("error-arrow.png") 0% 5px no-repeat;
  width: 19px;
  height: 35px;
  float: left;
}

div.error div.msg {
  background: #ededed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: auto;
  height: auto;
  float: left;
  -webkit-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  padding: 5px 20px 5px;
}

div.error p{
  margin:0;
  padding: 0;
  text-align: center;
}

div.error.uname {
  margin-top: -286px;
  margin-left: 650px;
}

div.error.name {
  margin-top: -248px;
  margin-left: 650px;
}

div.error.email {
  margin-top: -209px;
  margin-left: 650px;
}

div.error.pazsword {
  margin-top: -155px;
  margin-left: 650px;
}

.login_first {
  display: none;
  max-height: 1px;
}