= javascript_include_tag(Rails.env.production? ? 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' : 'jquery.min.js')

-# fall back to local jQuery if necessary
:javascript
  !window.jQuery && document.write(unescape('%3Cscript src="/javascripts/jquery.min.js"%3E%3C/script%3E'))
  
-#= include_javascripts :application

= javascript_include_tag "rails", "application", "drop_down_menu"

-#  Append your own using content_for :javascripts
= yield :javascripts
