-#= include_stylesheets :application

= stylesheet_link_tag "web-app-theme/base.css", "web-app-theme/themes/default/style.css", "web-app-theme/override.css", "git/style.css"
= stylesheet_link_tag "jquery-ui-1.8.16.custom.css", "datatable.css", "patches.css"

= yield :stylesheets
