!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title=t 'invites.title'
    %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js", :type => "text/javascript"}
    %link{:href => "/styles/prereg.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    .wrap
      = yield :nav if content_for?(:nav)
      / Top block
      %header
        .logo
        .text=t 'invites.header'
        .both
      / Page
      %article
        =yield
        .both
    / Footer
    %footer= render "layouts/menu/bottom"
    = render 'layouts/counters' if !current_user.try(:admin?) && Rails.env.production?
